{"openapi":"3.1.0","info":{"title":"Court Register API","description":"Register providing UK Court Information","contact":{"name":"HMPPS Digital Studio","email":"feedback@digital.justice.gov.uk"},"version":"2026-07-27.375.3ac177e"},"servers":[{"url":"https://court-register-api.hmpps.service.justice.gov.uk","description":"Prod"},{"url":"https://court-register-api-preprod.hmpps.service.justice.gov.uk","description":"PreProd"},{"url":"https://court-register-api-dev.hmpps.service.justice.gov.uk","description":"Development"},{"url":"http://localhost:8080","description":"Local"}],"paths":{"/court-maintenance/id/{courtId}":{"put":{"tags":["court-maintenance-resource"],"summary":"Update specified court details","description":"Updates court information, role required is ROLE_COURT_REGISTER__COURT_DETAILS__RW","operationId":"updateCourt","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"example":"ACCRYC"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCourtDto"}}},"required":true},"responses":{"200":{"description":"Court Information Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtDto"}}}},"400":{"description":"Information request to update court","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to make court update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Court ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_COURT_REGISTER__COURT_DETAILS__RW":[]}]}},"/court-maintenance/id/{courtId}/buildings/{buildingId}":{"put":{"tags":["court-building-maintenance-resource"],"summary":"Update specified building details","description":"Updates building information, role required is ROLE_COURT_REGISTER__COURT_DETAILS__RW","operationId":"updateBuilding","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"example":"ACCRYC"},{"name":"buildingId","in":"path","description":"Building ID","required":true,"schema":{"type":"integer","format":"int32","description":"Building ID","example":234231},"example":234231}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBuildingDto"}}},"required":true},"responses":{"200":{"description":"Building Information Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"400":{"description":"Information request to update building","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to make building update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Building ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_COURT_REGISTER__COURT_DETAILS__RW":[]}]},"delete":{"tags":["court-building-maintenance-resource"],"summary":"Delete specified building","description":"Deletes building information, role required is ROLE_COURT_REGISTER__COURT_DETAILS__RW","operationId":"deleteBuilding","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"example":"ACCRYC"},{"name":"buildingId","in":"path","description":"Building ID","required":true,"schema":{"type":"integer","format":"int32","description":"Building ID","example":234231},"example":234231}],"responses":{"200":{"description":"Building Information Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to delete building","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Building ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_COURT_REGISTER__COURT_DETAILS__RW":[]}]}},"/court-maintenance/id/{courtId}/buildings/{buildingId}/contacts/{contactId}":{"put":{"tags":["building-contact-maintenance-resource"],"summary":"Update specified building contact details","description":"Updates contact information, role required is ROLE_COURT_REGISTER__COURT_DETAILS__RW","operationId":"updateContact","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"example":"ACCRYC"},{"name":"buildingId","in":"path","description":"Building ID","required":true,"schema":{"type":"integer","format":"int32","description":"Building ID","example":234231},"example":234231},{"name":"contactId","in":"path","description":"Contact ID","required":true,"schema":{"type":"integer","format":"int32","description":"Contact ID","example":11111},"example":11111}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContactDto"}}},"required":true},"responses":{"200":{"description":"Building Contact Information Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDto"}}}},"400":{"description":"Information request to update contact","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to make contact update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Contact ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_COURT_REGISTER__COURT_DETAILS__RW":[]}]},"delete":{"tags":["building-contact-maintenance-resource"],"summary":"Delete specified building contact details","description":"Deletes contact information, role required is ROLE_COURT_REGISTER__COURT_DETAILS__RW","operationId":"deleteContact","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"example":"ACCRYC"},{"name":"buildingId","in":"path","description":"Building ID","required":true,"schema":{"type":"integer","format":"int32","description":"Building ID","example":234231},"example":234231},{"name":"contactId","in":"path","description":"Contact ID","required":true,"schema":{"type":"integer","format":"int32","description":"Contact ID","example":11111},"example":11111}],"responses":{"200":{"description":"Building Contact Information Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to delete contact","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Contact ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_COURT_REGISTER__COURT_DETAILS__RW":[]}]}},"/court-maintenance":{"post":{"tags":["court-maintenance-resource"],"summary":"Add a new court","description":"Adds a new court information, role required is ROLE_COURT_REGISTER__COURT_DETAILS__RW","operationId":"insertCourt","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsertCourtDto"}}},"required":true},"responses":{"201":{"description":"Court Information Inserted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtDto"}}}},"400":{"description":"Information request to add a court","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to make court insert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_COURT_REGISTER__COURT_DETAILS__RW":[]}]}},"/court-maintenance/id/{courtId}/buildings":{"post":{"tags":["court-building-maintenance-resource"],"summary":"Add a new building to a court","description":"Adds a new building to court, role required is ROLE_COURT_REGISTER__COURT_DETAILS__RW","operationId":"insertBuilding","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"example":"ACCRYC"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBuildingDto"}}},"required":true},"responses":{"201":{"description":"Building Information Inserted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"400":{"description":"Invalid request to add a building","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to make building insert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_COURT_REGISTER__COURT_DETAILS__RW":[]}]}},"/court-maintenance/id/{courtId}/buildings/{buildingId}/contacts":{"post":{"tags":["building-contact-maintenance-resource"],"summary":"Add a new contact to a building","description":"Adds a new contact to building, role required is ROLE_COURT_REGISTER__COURT_DETAILS__RW","operationId":"insertContact","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"example":"ACCRYC"},{"name":"buildingId","in":"path","description":"Contact ID","required":true,"schema":{"type":"integer","format":"int32","description":"Contact ID","example":11111},"example":11111}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContactDto"}}},"required":true},"responses":{"201":{"description":"Contact Information Inserted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDto"}}}},"400":{"description":"Invalid request to add a contact","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to add contact insert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_COURT_REGISTER__COURT_DETAILS__RW":[]}]}},"/admin/refresh-nomis-data":{"post":{"tags":["admin-resource"],"operationId":"refreshNomisData","responses":{"204":{"description":"No Content"}}}},"/admin/refresh-data":{"post":{"tags":["admin-resource"],"operationId":"refreshData","responses":{"204":{"description":"No Content"}}}},"/courts":{"get":{"tags":["court-resource"],"summary":"Get all active courts","description":"All courts (active only)","operationId":"getActiveCourts","responses":{"200":{"description":"All Active Court Information Returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtDto"}}}}}}}},"/courts/types":{"get":{"tags":["court-resource"],"summary":"Get all types of court","description":"All court types","operationId":"getCourtTypes","responses":{"200":{"description":"All Types of courts returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtTypeDto"}}}}}}}},"/courts/paged":{"get":{"tags":["court-resource"],"summary":"Get page of courts","description":"Page of courts","operationId":"getPageOfCourts","parameters":[{"name":"active","in":"query","description":"Active?","required":false,"schema":{"type":"boolean"},"example":true},{"name":"courtTypeIds","in":"query","description":"Court Type","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"CRN"},{"name":"textSearch","in":"query","description":"Text search","required":false,"schema":{"type":"string"},"example":"Sheffield"},{"name":"pageable","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"All Court Information Returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtDtoPage"}}}}}}}},"/courts/id/{courtId}":{"get":{"tags":["court-resource"],"summary":"Get specified court","description":"Information on a specific court","operationId":"getCourtFromId","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"example":"ACCRYC"}],"responses":{"200":{"description":"Court Information Returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtDto"}}}},"400":{"description":"Incorrect request to get court information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Court ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/courts/id/{courtId}/buildings/main":{"get":{"tags":["court-resource"],"summary":"Get the main building by court ID","description":"Information on the main building by court ID","operationId":"findMainBuilding","parameters":[{"name":"courtId","in":"path","description":"Court Id","required":true,"schema":{"type":"string","description":"Court Id","example":"BRMNCC","maxLength":6,"minLength":2},"example":"BRMNCC"}],"responses":{"200":{"description":"Building Information Returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"400":{"description":"Incorrect request to get building information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Building SubCode not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/courts/id/{courtId}/buildings/id/{buildingId}":{"get":{"tags":["court-resource"],"summary":"Get specified building","description":"Information on a specific building","operationId":"getBuildingFromId","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"BRMNCC","maxLength":12,"minLength":2},"example":"BRMNCC"},{"name":"buildingId","in":"path","description":"Building ID","required":true,"schema":{"type":"integer","format":"int32","description":"Building ID","example":234231},"example":234231}],"responses":{"200":{"description":"Building Information Returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"400":{"description":"Incorrect request to get building information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Building ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/courts/id/{courtId}/buildings/id/{buildingId}/contacts/id/{contactId}":{"get":{"tags":["court-resource"],"summary":"Get specified contact","description":"Information on a specific contact","operationId":"getContactFromId","parameters":[{"name":"courtId","in":"path","description":"Court ID","required":true,"schema":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"example":"ACCRYC"},{"name":"buildingId","in":"path","description":"Building ID","required":true,"schema":{"type":"integer","format":"int32","description":"Building ID","example":234231},"example":234231},{"name":"contactId","in":"path","description":"Contact ID","required":true,"schema":{"type":"integer","format":"int32","description":"Contact ID","example":11111},"example":11111}],"responses":{"200":{"description":"Contact Information Returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDto"}}}},"400":{"description":"Incorrect request to get contact information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Contact ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/courts/id/multiple":{"get":{"tags":["court-resource"],"summary":"Get court by ids","description":"Information on multiple courts","operationId":"getCourtsByIds","parameters":[{"name":"courtIds","in":"query","description":"CourtIDs","required":true,"schema":{"type":"array","items":{"type":"string"}},"example":"ACCRYC"}],"responses":{"200":{"description":"Court Information Returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtDto"}}}}},"400":{"description":"Incorrect request to get court information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/courts/cp/{cpCourtUuid}":{"get":{"tags":["court-resource"],"summary":"Resolve a Common Platform court UUID to the HMPPS court","description":"Deterministic lookup of the court mapped to a Common Platform court UUID. Returns 404 when the UUID has no confirmed mapping; no name-based fallback is attempted.","operationId":"getCourtByCpCourtUuid","parameters":[{"name":"cpCourtUuid","in":"path","description":"Common Platform court UUID","required":true,"schema":{"type":"string","format":"uuid","description":"Common Platform court UUID","example":"faa91bb2-19cb-384b-bcc1-06d31d12cc67"},"example":"faa91bb2-19cb-384b-bcc1-06d31d12cc67"}],"responses":{"200":{"description":"Mapped court returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourtDto"}}}},"400":{"description":"Malformed Common Platform court UUID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"No confirmed mapping for the supplied Common Platform court UUID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/courts/cp/multiple":{"get":{"tags":["court-resource"],"summary":"Resolve multiple Common Platform court UUIDs to HMPPS courts","description":"Batch deterministic lookup. Returns the courts that have a confirmed mapping for the supplied Common Platform court UUIDs. UUIDs with no confirmed mapping are simply absent from the result; the caller can identify them by diffing the requested UUIDs against the cpCourtUuid values returned. No name-based fallback is attempted.","operationId":"getCourtsByCpCourtUuids","parameters":[{"name":"cpCourtUuids","in":"query","description":"Common Platform court UUIDs","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":"faa91bb2-19cb-384b-bcc1-06d31d12cc67"}],"responses":{"200":{"description":"Mapped courts returned (may be fewer than requested, or empty)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtDto"}}}}},"400":{"description":"One or more malformed Common Platform court UUIDs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/courts/buildings/sub-code/{subCode}":{"get":{"tags":["court-resource"],"summary":"Get specified building by sub-code","description":"Information on a specific building by sub-code","operationId":"getBuildingFromSubCode","parameters":[{"name":"subCode","in":"path","description":"Building Sub Code","required":true,"schema":{"type":"string","description":"Building Sub Code","example":"BCCACC","maxLength":12,"minLength":2},"example":"BCCACC"}],"responses":{"200":{"description":"Building Information Returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"400":{"description":"Incorrect request to get building information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Building SubCode not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/courts/all":{"get":{"tags":["court-resource"],"summary":"Get all active and inactive courts","description":"All active/inactive courts","operationId":"getAllCourts","responses":{"200":{"description":"All Court Information Returned (Active only)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourtDto"}}}}}}}}},"components":{"schemas":{"UpdateCourtDto":{"type":"object","description":"Court Update Record","properties":{"courtName":{"type":"string","description":"Name of the court","example":"Accrington Youth Court","maxLength":80,"minLength":2},"courtDescription":{"type":["string","null"],"description":"Description of the court","example":"Accrington Youth Court","maxLength":200,"minLength":2},"courtType":{"type":"string","description":"Type of court","example":"COU"},"active":{"type":"boolean","description":"Whether the court is still active"}},"required":["active","courtName","courtType"]},"BuildingDto":{"type":"object","description":"Building","properties":{"id":{"type":"integer","format":"int32","description":"Unique ID of the building","example":10000},"courtId":{"type":"string","description":"Court Id for this building","example":"ACCRYC"},"subCode":{"type":["string","null"],"description":"Sub location code for referencing building","example":"AAABBB"},"addressLine1":{"type":["string","null"],"description":"Address line 1","example":"Crown House"},"addressLine2":{"type":["string","null"],"description":"Address Line 2","example":"452 West Street"},"addressLine3":{"type":["string","null"],"description":"Address Line 3","example":"Swansea"},"addressLine4":{"type":["string","null"],"description":"Address Line 4","example":"West Cross"},"addressLine5":{"type":["string","null"],"description":"Address Line 5","example":"South Glamorgan"},"postcode":{"type":["string","null"],"description":"Postcode","example":"SA3 4HT"},"contacts":{"type":["array","null"],"description":"List of contacts for this building by type","items":{"$ref":"#/components/schemas/ContactDto"}},"active":{"type":"boolean","description":"Whether the building is active"}},"required":["active","courtId","id"]},"ContactDto":{"type":"object","description":"Contact","properties":{"id":{"type":"integer","format":"int32","description":"Unique ID of the contact","example":10000},"courtId":{"type":"string","description":"Court Id for this contact","example":"ACCRYC"},"buildingId":{"type":"integer","format":"int32","description":"Building Id for this contact","example":12312},"type":{"type":"string","description":"Type of contact","enum":["TEL","FAX"],"example":"TEL"},"detail":{"type":["string","null"],"description":"Details of the contact","example":"555 55555"}},"required":["buildingId","courtId","detail","id","type"]},"CourtDto":{"type":"object","description":"Court Information","properties":{"courtId":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":12,"minLength":2},"courtName":{"type":"string","description":"Name of the court","example":"Accrington Youth Court","maxLength":80,"minLength":2},"courtDescription":{"type":["string","null"],"description":"Description of the court","example":"Accrington Youth Court","maxLength":200,"minLength":2},"type":{"$ref":"#/components/schemas/CourtTypeDto","description":"Type of court with description"},"active":{"type":"boolean","description":"Whether the court is still active"},"cpCourtUuid":{"type":["string","null"],"format":"uuid","description":"Common Platform court UUID mapped to this court, where a confirmed mapping exists","example":"faa91bb2-19cb-384b-bcc1-06d31d12cc67"},"buildings":{"type":"array","description":"List of buildings for this court entity","items":{"$ref":"#/components/schemas/BuildingDto"}}},"required":["active","buildings","courtId","courtName","type"]},"CourtTypeDto":{"type":"object","description":"Court Type","properties":{"courtType":{"type":"string","description":"Type of court","example":"COU"},"courtName":{"type":"string","description":"Description of the type of court","example":"County Court/County Divorce Ct","minLength":1}},"required":["courtName","courtType"]},"ErrorResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"errorCode":{"type":["integer","null"],"format":"int32"},"userMessage":{"type":["string","null"]},"developerMessage":{"type":["string","null"]},"moreInfo":{"type":["string","null"]},"errors":{"type":["array","null"],"items":{"type":"string"}}},"required":["status"]},"UpdateBuildingDto":{"type":"object","description":"Building Update Record","properties":{"addressLine1":{"type":["string","null"],"description":"Address Line 1","example":"Crown House","maxLength":50,"minLength":0},"addressLine2":{"type":["string","null"],"description":"Address Line 2","example":"452 West Street","maxLength":80,"minLength":0},"addressLine3":{"type":["string","null"],"description":"Address Line 3","example":"Swansea","maxLength":80,"minLength":0},"addressLine4":{"type":["string","null"],"description":"Address Line 4","example":"West Cross","maxLength":80,"minLength":0},"addressLine5":{"type":["string","null"],"description":"Address Line 5","example":"South Glamorgan","maxLength":80,"minLength":0},"postcode":{"type":["string","null"],"description":"Postcode","example":"SA3 4HT","maxLength":8,"minLength":0},"subCode":{"type":["string","null"],"description":"Sub location code for referencing building","example":"AAABBB","maxLength":6,"minLength":0},"active":{"type":"boolean","default":true,"description":"Whether the building is active","example":true},"contacts":{"type":"array","description":"List of contacts for this building by type, can only be used on a new court","items":{"$ref":"#/components/schemas/UpdateContactDto"}}},"required":["contacts"]},"UpdateContactDto":{"type":"object","description":"Contact","properties":{"type":{"type":"string","description":"Type of contact","enum":["TEL","FAX"],"example":"TEL"},"detail":{"type":"string","description":"Details of the contact","example":"555 55555","maxLength":80,"minLength":0}},"required":["detail","type"]},"InsertCourtDto":{"type":"object","description":"Court Insert Record","properties":{"courtId":{"type":"string","description":"Court ID","example":"ACCRYC","maxLength":6,"minLength":2},"courtName":{"type":"string","description":"Name of the court","example":"Accrington Youth Court","maxLength":80,"minLength":2},"courtDescription":{"type":["string","null"],"description":"Description of the court","example":"Accrington Youth Court","maxLength":200,"minLength":2},"courtType":{"type":"string","description":"Type of court","example":"COU"},"active":{"type":"boolean","description":"Whether the court is still active"},"buildings":{"type":"array","description":"List of buildings for this court","items":{"$ref":"#/components/schemas/UpdateBuildingDto"}}},"required":["active","buildings","courtId","courtName","courtType"]},"CourtDtoPage":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CourtDto"}},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageSize":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}}}}}