{"openapi":"3.1.0","info":{"title":"hmpps-manage-prison-visits-orchestration","description":"Visits Orchestration service used by Visits frontend to make external API calls and collate responses","contact":{"name":"Visit Someone in Prison","email":"prisonvisitsbooking@digital.justice.gov.uk"},"version":"2026-10-02.949.23bd233"},"servers":[{"url":"https://hmpps-manage-prison-visits-orchestration.prison.service.justice.gov.uk","description":"Prod"},{"url":"https://hmpps-manage-prison-visits-orchestration-preprod.prison.service.justice.gov.uk","description":"PreProd"},{"url":"https://hmpps-manage-prison-visits-orchestration-staging.prison.service.justice.gov.uk","description":"Staging"},{"url":"https://hmpps-manage-prison-visits-orchestration-dev.prison.service.justice.gov.uk","description":"Development"},{"url":"http://localhost:8080","description":"Local"}],"paths":{"/visits/{reference}/cancel":{"put":{"tags":["orchestration-visits-controller"],"summary":"Cancel an existing booked visit","operationId":"cancelVisit","parameters":[{"name":"reference","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelVisitOrchestrationDto"}}},"required":true},"responses":{"200":{"description":"Visit cancelled","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitDto"}}}},"400":{"description":"Incorrect request to cancel a visit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to cancel a visit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Visit not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/{applicationReference}/update":{"put":{"tags":["orchestration-visits-controller"],"summary":"Update an existing visit","operationId":"updateAVisit","parameters":[{"name":"applicationReference","in":"path","description":"applicationReference","required":true,"schema":{"type":"string","description":"applicationReference","example":"dfs-wjs-eqr"},"example":"dfs-wjs-eqr"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingOrchestrationRequestDto"}}},"required":true},"responses":{"200":{"description":"Visit updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitDto"}}}},"400":{"description":"Incorrect request to update a visit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to update a visit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Visit not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Application validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationValidationErrorResponse"}}}}}}},"/visits/{applicationReference}/book":{"put":{"tags":["orchestration-visits-controller"],"summary":"Book a visit (end of flow)","operationId":"bookAVisit","parameters":[{"name":"applicationReference","in":"path","description":"applicationReference","required":true,"schema":{"type":"string","description":"applicationReference","example":"dfs-wjs-eqr"},"example":"dfs-wjs-eqr"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingOrchestrationRequestDto"}}},"required":true},"responses":{"200":{"description":"Visit updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitDto"}}}},"400":{"description":"Incorrect request to book a visit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to book a visit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Visit not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Application validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationValidationErrorResponse"}}}}}}},"/visits/requests/{reference}/reject":{"put":{"tags":["Visit requests controller - /visits/requests"],"summary":"Reject a visit request","description":"Endpoint to reject a visit request by visit reference","operationId":"rejectVisitRequestByReference","parameters":[{"name":"reference","in":"path","description":"visit reference","required":true,"schema":{"type":"string","description":"visit reference"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectVisitRequestBodyDto"}}},"required":true},"responses":{"200":{"description":"Successfully rejected visit request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrchestrationApproveRejectVisitRequestResponseDto"}}}},"400":{"description":"Incorrect request to reject visit request by reference (not found or not in correct sub status)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/requests/{reference}/approve":{"put":{"tags":["Visit requests controller - /visits/requests"],"summary":"Approve a visit request","description":"Endpoint to approve a visit request by visit reference","operationId":"approveVisitRequestByReference","parameters":[{"name":"reference","in":"path","description":"visit reference","required":true,"schema":{"type":"string","description":"visit reference"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveVisitRequestBodyDto"}}},"required":true},"responses":{"200":{"description":"Successfully approved visit request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrchestrationApproveRejectVisitRequestResponseDto"}}}},"400":{"description":"Incorrect request to approve visit request by reference (not found or not in correct sub status)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/notification/visit/{reference}/ignore":{"put":{"tags":["Visit notification controller /visits/notification"],"summary":"Do not change an existing booked visit and ignore all notifications","operationId":"ignoreVisitNotifications","parameters":[{"name":"reference","in":"path","description":"reference","required":true,"schema":{"type":"string","description":"reference","example":"v9-d7-ed-7u"},"example":"v9-d7-ed-7u"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IgnoreVisitNotificationsDto"}}},"required":true},"responses":{"200":{"description":"Visit notifications cleared and reason noted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VisitDto"}}}},"400":{"description":"Incorrect request to ignore visit notifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to ignore visit notifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Visit not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/application/{reference}/slot/change":{"put":{"tags":["orchestration-applications-controller"],"summary":"Change an incomplete application","operationId":"changeIncompleteApplication","parameters":[{"name":"reference","in":"path","description":"reference","required":true,"schema":{"type":"string","description":"reference","example":"dfs-wjs-eqr"},"example":"dfs-wjs-eqr"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeApplicationDto"}}},"required":true},"responses":{"200":{"description":"Visit slot changed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationDto"}}}},"400":{"description":"Incorrect request to changed a visit slot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to changed a visit slot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Visit slot not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/application/{bookingReference}/change":{"put":{"tags":["orchestration-applications-controller"],"summary":"Create an application for an existing visit","operationId":"createApplicationForAnExistingVisit","parameters":[{"name":"bookingReference","in":"path","description":"bookingReference","required":true,"schema":{"type":"string","description":"bookingReference","example":"v9-d7-ed-7u"},"example":"v9-d7-ed-7u"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationDto"}}},"required":true},"responses":{"201":{"description":"Visit created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationDto"}}}},"400":{"description":"Incorrect request to change a visit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to change a visit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visitor-requests/{requestReference}/withdraw":{"put":{"tags":["public-booker-controller"],"summary":"Withdraw visitor request.","description":"Withdraw a pending visitor request.","operationId":"withdrawVisitorRequest","parameters":[{"name":"requestReference","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawVisitorRequestDto"}}},"required":true},"responses":{"200":{"description":"Visit request withdrawn, no visitor will be linked to booker's prisoner","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrisonVisitorRequestDto"}}}},"400":{"description":"Incorrect request to withdraw a pending visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to withdraw visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Pending visitor request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visitor-requests/{requestReference}/reject":{"put":{"tags":["public-booker-controller"],"summary":"Reject visitor request and notify them of the outcome.","description":"Reject visitor request and notify them of the outcome.","operationId":"rejectVisitorRequest","parameters":[{"name":"requestReference","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectVisitorRequestDto"}}},"required":true},"responses":{"200":{"description":"Visitor request rejected and booker informed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrisonVisitorRequestDto"}}}},"400":{"description":"Incorrect request to reject visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to reject visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Booker or visitor request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visitor-requests/{requestReference}/approve":{"put":{"tags":["public-booker-controller"],"summary":"Approve visitor request and link visitor to booker's prisoner.","description":"Approve visitor request and link visitor to booker's prisoner.","operationId":"approveVisitorRequest","parameters":[{"name":"requestReference","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveVisitorRequestDto"}}},"required":true},"responses":{"200":{"description":"Visitor request approved and visitor linked to booker's prisoner","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrisonVisitorRequestDto"}}}},"400":{"description":"Incorrect request to approve visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to approve visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Booker or visitor request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/queue-admin/retry-dlq/{dlqName}":{"put":{"tags":["hmpps-queue-resource"],"operationId":"retryDlq","parameters":[{"name":"dlqName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RetryDlqResult"}}}}}}},"/queue-admin/retry-all-dlqs":{"put":{"tags":["hmpps-queue-resource"],"operationId":"retryAllDlqs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RetryDlqResult"}}}}}}}},"/queue-admin/purge-queue/{queueName}":{"put":{"tags":["hmpps-queue-resource"],"operationId":"purgeQueue","parameters":[{"name":"queueName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurgeQueueResult"}}}}}}},"/public/booker/{bookerReference}/permitted/prisoners/{prisonerId}/prison":{"put":{"tags":["public-booker-controller"],"summary":"Update a permitted prisoner's registered prison code","description":"Update a permitted prisoner's registered prison code","operationId":"updatePermittedPrisonerPrison","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRegisteredPrisonerPrisonDto"}}},"required":true},"responses":{"200":{"description":"Permitted prisoner's registered prison code was updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PermittedPrisonerForBookerDto"}}}},"400":{"description":"Validation failure, incorrect request to update permitted prisoner's registered prison code","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions for this action","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Booker / prisoner not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/register/auth":{"put":{"tags":["public-booker-controller"],"summary":"Authenticate one login details against pre populated bookers","description":"Authenticate one login details against pre populated bookers and return BookerReference object to be used for all other api calls for booker information","operationId":"bookerAuthorisation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDetailDto"}}},"required":true},"responses":{"200":{"description":"One login details matched with pre populated booker","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookerReference"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions for this action","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Booker not authorised / not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prison/{prisonId}/prisoners/{prisonerId}/visit-orders/balance":{"get":{"tags":["visit-orders-controller"],"summary":"Get visit order balance of the prisoner","description":"Get visit order balance of the prisoner","operationId":"getVisitOrderBalanceForPrisoner","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Return balance of prisoner","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrisonerBalanceDto"}}}},"400":{"description":"Incorrect request to get visit order balance of prisoner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get visit order balance of prisoner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Prisoner not found on visit allocation api, cannot get balance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["visit-orders-controller"],"summary":"Manually adjust a prisoner's visit order balance","operationId":"updatePrisonerVisitOrderBalance","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerBalanceAdjustmentDto"}}},"required":true},"responses":{"200":{"description":"Prisoner's visit order balance successfully adjusted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitOrderPrisonerBalanceDto"}}}},"400":{"description":"Bad request to adjust balance, prisoner on remand or invalid data submitted via DTO","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to adjust a prisoner's visit order balance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Prisoner not found on visit allocation api, cannot adjust balance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Prisoner balance adjustment validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonerBalanceAdjustmentValidationErrorResponse"}}}}}}},"/config/sessions/session/{sessionTemplateReference}/exclude-date/remove":{"put":{"tags":["orchestration-sessions-exclude-date-controller"],"summary":"Remove exclude date for a given session template","description":"Remove exclude date for a given session template","operationId":"removeExcludeDateForSessionTemplate","parameters":[{"name":"sessionTemplateReference","in":"path","description":"session template reference","required":true,"schema":{"type":"string","description":"session template reference","example":"aaa-bbb-ccc"},"example":"aaa-bbb-ccc"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExcludeDateDto"}}},"required":true},"responses":{"200":{"description":"Exclude dates successfully removed","content":{"*/*":{"schema":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 EARLY_HINTS","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","303 SEE_OTHER","304 NOT_MODIFIED","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 CONTENT_TOO_LARGE","413 PAYLOAD_TOO_LARGE","414 URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","421 MISDIRECTED_REQUEST","422 UNPROCESSABLE_CONTENT","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]}}}},"400":{"description":"Incorrect request to remove exclude date","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to add exclude dates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Session Template not found on visit-scheduler","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/sessions/session/{sessionTemplateReference}/exclude-date/add":{"put":{"tags":["orchestration-sessions-exclude-date-controller"],"summary":"Add exclude date for a given session template","description":"Add exclude date for a given session template","operationId":"addExcludeDateForSessionTemplate","parameters":[{"name":"sessionTemplateReference","in":"path","description":"session template reference","required":true,"schema":{"type":"string","description":"session template reference","example":"aaa-bbb-ccc"},"example":"aaa-bbb-ccc"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExcludeDateDto"}}},"required":true},"responses":{"200":{"description":"Exclude dates successfully added","content":{"*/*":{"schema":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 EARLY_HINTS","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","303 SEE_OTHER","304 NOT_MODIFIED","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 CONTENT_TOO_LARGE","413 PAYLOAD_TOO_LARGE","414 URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","421 MISDIRECTED_REQUEST","422 UNPROCESSABLE_CONTENT","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]}}}},"400":{"description":"Incorrect request to add exclude date","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to add exclude dates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Session template not found on visit-scheduler","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/prisons/prison/{prisonCode}":{"get":{"tags":["orchestration-prisons-config-controller"],"summary":"Gets prison by given prison id/code","description":"Gets prison by given prison id/code","operationId":"getPrison","parameters":[{"name":"prisonCode","in":"path","description":"prison id","required":true,"schema":{"type":"string","description":"prison id","example":"BHI"},"example":"BHI"}],"responses":{"200":{"description":"prison returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrisonDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get prison","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["orchestration-prisons-config-controller"],"summary":"Update prison config by given prison id/code","description":"Update prison config by given prison id/code","operationId":"updatePrison","parameters":[{"name":"prisonCode","in":"path","description":"prison id","required":true,"schema":{"type":"string","description":"prison id","example":"BHI"},"example":"BHI"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VisitSchedulerUpdatePrisonDto"}}},"required":true},"responses":{"200":{"description":"prison updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitSchedulerPrisonDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get prison","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/prisons/prison/{prisonCode}/exclude-date/remove":{"put":{"tags":["orchestration-prisons-exclude-date-controller"],"summary":"Remove exclude date for a given prison","description":"Remove exclude date for a given prison","operationId":"removeExcludeDateForPrison","parameters":[{"name":"prisonCode","in":"path","description":"prison code","required":true,"schema":{"type":"string","description":"prison code","example":"HEI"},"example":"HEI"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExcludeDateDto"}}},"required":true},"responses":{"200":{"description":"Exclude dates successfully removed","content":{"*/*":{"schema":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 EARLY_HINTS","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","303 SEE_OTHER","304 NOT_MODIFIED","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 CONTENT_TOO_LARGE","413 PAYLOAD_TOO_LARGE","414 URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","421 MISDIRECTED_REQUEST","422 UNPROCESSABLE_CONTENT","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]}}}},"400":{"description":"Incorrect request to remove exclude date","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to add exclude dates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Prison not found on visit-scheduler","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/prisons/prison/{prisonCode}/exclude-date/add":{"put":{"tags":["orchestration-prisons-exclude-date-controller"],"summary":"Add exclude date for a given prison","description":"Add exclude date for a given prison","operationId":"addExcludeDateForPrison","parameters":[{"name":"prisonCode","in":"path","description":"prison code","required":true,"schema":{"type":"string","description":"prison code","example":"HEI"},"example":"HEI"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExcludeDateDto"}}},"required":true},"responses":{"200":{"description":"Exclude dates successfully added","content":{"*/*":{"schema":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 EARLY_HINTS","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","303 SEE_OTHER","304 NOT_MODIFIED","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 CONTENT_TOO_LARGE","413 PAYLOAD_TOO_LARGE","414 URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","421 MISDIRECTED_REQUEST","422 UNPROCESSABLE_CONTENT","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]}}}},"400":{"description":"Incorrect request to add exclude date","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to add exclude dates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Prison not found on visit-scheduler","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/application/slot/reserve":{"post":{"tags":["orchestration-applications-controller"],"summary":"Create an initial application and reserve a slot","operationId":"createInitialApplication","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationDto"}}},"required":true},"responses":{"201":{"description":"Visit slot reserved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationDto"}}}},"400":{"description":"Incorrect request to reserve a slot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to reserve a slot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/permitted/prisoners/{prisonerId}/permitted/visitors":{"get":{"tags":["public-booker-controller"],"summary":"Get permitted visitors for a prisoner associated with that booker.","description":"Get permitted visitors for a prisoner associated with that booker.","operationId":"getPermittedVisitorsForPrisoner","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonerId","in":"path","description":"Prisoner Id for whom visitors need to be returned.","required":true,"schema":{"type":"string","minLength":1},"example":"A12345DC"}],"responses":{"200":{"description":"Returned permitted permitted visitors for a prisoner associated with that booker","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VisitorInfoDto"}}}}},"400":{"description":"Incorrect request to get permitted visitors for a prisoner associated with that booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get permitted visitors for a prisoner associated with that booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["public-booker-controller"],"summary":"Register visitor, for a booker's prisoner","description":"Register visitor, for a booker's prisoner","operationId":"registerVisitor","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterVisitorForBookerPrisonerDto"}}},"required":true},"responses":{"200":{"description":"Registration successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PermittedVisitorsForPermittedPrisonerBookerDto"}}}},"400":{"description":"Incorrect request to register a visitor, for a booker's prisoner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions for this action","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/permitted/prisoners/{prisonerId}/permitted/visitors/{visitorId}/unlink":{"post":{"tags":["public-booker-controller"],"summary":"unlink booker prisoner visitor","description":"unlink booker prisoner visitor","operationId":"unlinkBookerPrisonerVisitor","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"visitorId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaffUsernameDto"}}},"required":true},"responses":{"200":{"description":"Successfully unlinked booker prisoner visitor"},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions for this action","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"visitor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/permitted/prisoners/{prisonerId}/permitted/visitors/request":{"post":{"tags":["public-booker-controller"],"summary":"Submit a request to add a visitor given a prisoner and booker reference.","description":"Submit a visitor request to add a visitor given a prisoner and booker reference.","operationId":"createAddVisitorRequest","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddVisitorToBookerPrisonerRequestDto"}}},"required":true},"responses":{"201":{"description":"Visitor request submitted successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateVisitorRequestResponseDto"}}}},"400":{"description":"Incorrect request to submit a visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions for this action","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Booker / Prisoner not found for visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Visitor request validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookerVisitorRequestValidationErrorResponse"}}}}}}},"/public/booker/{bookerReference}/permitted/prisoners/register":{"post":{"tags":["public-booker-controller"],"summary":"Register prisoner to a booker","description":"Register prisoner to a booker","operationId":"registerPrisoner","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterPrisonerForBookerDto"}}},"required":true},"responses":{"200":{"description":"Registration successful"},"400":{"description":"Incorrect request to register a prisoner to a booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions for this action","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Prisoner registration failed","content":{"application/json":{"schema":{"type":"string","enum":["FAILED_REGISTRATION"]}}}}}}},"/public/booker/search":{"post":{"tags":["public-booker-controller"],"summary":"Search for booker(s) via email","description":"Search for all booker accounts that are registered to email","operationId":"searchForBooker","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchBookerDto"}}},"required":true},"responses":{"200":{"description":"Booker(s) found successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookerSearchResultsDto"}}}}},"400":{"description":"Incorrect request to search for booker(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions for this action","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prison/{prisonId}/visit-passes":{"post":{"tags":["visit-passes-controller"],"summary":"Get visit passes for a prison on a given date.","description":"Get visit passes for a prison on a given date.","operationId":"getVisitPassesForPrisonOnDate","parameters":[{"name":"prisonId","in":"path","description":"Prison code.","required":true,"schema":{"type":"string","description":"Prison code.","example":"ABC","minLength":1},"example":"ABC"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VisitPassRequestDto"}}},"required":true},"responses":{"200":{"description":"Return visit passes given a prison and visit date.","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VisitPassDto"}}}}},"400":{"description":"Incorrect request to get visit passes for a prison on a given date.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get visit passes for a prison on a given date.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Visit passes could not be found for the supplied prison and visit date.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error while retrieving visit passes.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prison/{prisonId}/visit-passes/visit/{visitReference}":{"post":{"tags":["visit-passes-controller"],"summary":"Get visit pass for an individual visit.","description":"Get visit pass for an individual visit.","operationId":"getVisitPassForVisitReference","parameters":[{"name":"prisonId","in":"path","description":"Prison code.","required":true,"schema":{"type":"string","description":"Prison code.","example":"ABC","minLength":1},"example":"ABC"},{"name":"visitReference","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaffUsernameDto"}}},"required":true},"responses":{"200":{"description":"Return visit pass given a visit reference and prison.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitPassDto"}}}},"400":{"description":"Incorrect request to get a visit pass given a visit reference and prison.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get a visit pass given a visit reference and prison.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Visit pass could not be found for the given visit reference.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error while retrieving visit pass for the given visit reference.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/{reference}":{"get":{"tags":["orchestration-visits-controller"],"summary":"Get a visit","description":"Retrieve a BOOKED or CANCELLED visit by visit reference","operationId":"getVisitsByReference","parameters":[{"name":"reference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Visit Information Returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitDto"}}}},"500":{"description":"Incorrect request to Get visits for prisoner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions retrieve a visit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Visit not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/{reference}/detailed":{"get":{"tags":["orchestration-visits-controller"],"summary":"Get a detailed summary of the visit including prisoner, visitor, event audit and notification event details","description":"Retrieve a detailed summary of the visit given a visit reference","operationId":"getVisitFullDetailsByReference","parameters":[{"name":"reference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Detailed visit summary returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitBookingDetailsDto"}}}},"500":{"description":"Failed to get a detailed visit summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions retrieve a detailed visit summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Visit not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/session-template":{"get":{"tags":["orchestration-visits-controller"],"summary":"Get visits for a session template reference and date","description":"Retrieve visits for session template reference and date","operationId":"getVisitsBySessionTemplate","parameters":[{"name":"sessionTemplateReference","in":"query","description":"Session template reference","required":false,"schema":{"type":"string","description":"Session template reference","example":"v9-d7-ed-7u"},"example":"v9-d7-ed-7u"},{"name":"sessionDate","in":"query","description":"Get visits for session date","required":true,"schema":{"type":"string","format":"date","description":"Get visits for session date","example":"2023-05-31"},"example":"2023-05-31"},{"name":"visitStatus","in":"query","description":"To filter visits by status","required":true,"schema":{"$ref":"#/components/schemas/visitStatus"},"example":"BOOKED"},{"name":"visitRestrictions","in":"query","description":"Visit Restriction(s) - OPEN / CLOSED / UNKNOWN","required":false,"schema":{"$ref":"#/components/schemas/visitRestrictions"},"example":"OPEN"},{"name":"prisonCode","in":"query","description":"Filter results by prison id/code","required":true,"schema":{"type":"string","description":"Filter results by prison id/code","example":"MDI"},"example":"MDI"}],"responses":{"200":{"description":"Visit details returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VisitPreviewDto"}}}}},"400":{"description":"Incorrect request to Get visits for session template","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to retrieve visits for session template","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/search":{"get":{"tags":["orchestration-visits-controller"],"summary":"Get visits","description":"Retrieve visits with optional filters, sorted by start timestamp descending","operationId":"getVisitsByFilterPageable","parameters":[{"name":"prisonerId","in":"query","description":"Filter results by prisoner id","required":false,"schema":{"type":"string"},"example":"A12345DC"},{"name":"prisonId","in":"query","description":"Filter results by prison id/code","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"visitStartDate","in":"query","description":"Filter results by visits that start on or after the given date","required":false,"schema":{"type":"string","format":"date"},"example":"2021-11-03"},{"name":"visitEndDate","in":"query","description":"Filter results by visits that start on or before the given date","required":false,"schema":{"type":"string","format":"date"},"example":"2021-11-03"},{"name":"visitStatus","in":"query","description":"Filter results by visit status","required":true,"schema":{"type":"array","items":{"type":"string"}},"example":"BOOKED"},{"name":"page","in":"query","description":"Pagination page number, starting at zero","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"size","in":"query","description":"Pagination size per page","required":true,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"Visit Information Returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVisitDto"}}}},"400":{"description":"Incorrect request to Get visits for prisoner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to retrieve visits","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/search/future/{prisonerId}":{"get":{"tags":["orchestration-visits-controller"],"summary":"Get future visits for a prisoner","description":"Get future visits for given prisoner number","operationId":"getFutureVisitsForPrisoner","parameters":[{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Returned future visits for a prisoner","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VisitDto"}}}}},"400":{"description":"Incorrect request to get future visits for a prisoner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get future visits for a prisoner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/requests/{prisonCode}":{"get":{"tags":["Visit requests controller - /visits/requests"],"summary":"Get all visit requests for a prison","description":"Retrieve a list of visit requests for a prison","operationId":"getVisitRequestsForPrison","parameters":[{"name":"prisonCode","in":"path","description":"prisonCode","required":true,"schema":{"type":"string","description":"prisonCode","example":"CFI"},"example":"CFI"}],"responses":{"200":{"description":"Successfully retrieved all visit requests for a prison","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrchestrationVisitRequestSummaryDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/requests/{prisonCode}/count":{"get":{"tags":["Visit requests controller - /visits/requests"],"summary":"Get count of visit requests for a prison","description":"Returns an Int count for how many visit requests are open for a prison","operationId":"getVisitRequestsCountForPrison","parameters":[{"name":"prisonCode","in":"path","description":"prisonCode","required":true,"schema":{"type":"string","description":"prisonCode","example":"CFI"},"example":"CFI"}],"responses":{"200":{"description":"Successfully retrieve count of visit requests for a prison","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VisitRequestsCountDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/notification/{prisonCode}/visits":{"get":{"tags":["Visit notification controller /visits/notification"],"summary":"get future visits with notifications by prison code","description":"Retrieve future visits that have a notification event attribute associated, empty response if no future visits with notifications found.","operationId":"getFutureNotificationVisits","parameters":[{"name":"prisonCode","in":"path","description":"prisonCode","required":true,"schema":{"type":"string","description":"prisonCode","example":"CFI"},"example":"CFI"},{"name":"types","in":"query","description":"list of notificationEventTypes","required":false,"schema":{"type":"array","description":"list of notificationEventTypes","items":{"type":"string","description":"list of notificationEventTypes","enum":["NON_ASSOCIATION_EVENT","PRISONER_RELEASED_EVENT","PRISONER_RESTRICTION_CHANGE_EVENT","PRISON_VISITS_BLOCKED_FOR_DATE","SESSION_VISITS_BLOCKED_FOR_DATE","PRISONER_RECEIVED_EVENT","PRISONER_ALERTS_UPDATED_EVENT","PRISONER_ALERT_CREATED_EVENT","PRISONER_ALERT_UPDATED_EVENT","PERSON_RESTRICTION_UPSERTED_EVENT","VISITOR_RESTRICTION_UPSERTED_EVENT","VISITOR_UNAPPROVED_EVENT"]}}}],"responses":{"200":{"description":"Retrieved future visits with notifications by prison code","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrchestrationVisitNotificationsDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/notification/{prisonCode}/count":{"get":{"tags":["Visit notification controller /visits/notification"],"summary":"Get notification count for a prison","description":"Retrieve notification count by prison code","operationId":"getNotificationCountForPrison","parameters":[{"name":"prisonCode","in":"path","description":"prisonCode","required":true,"schema":{"type":"string","description":"prisonCode","example":"CFI"},"example":"CFI"},{"name":"types","in":"query","description":"list of notificationEventTypes","required":false,"schema":{"type":"array","description":"list of notificationEventTypes","items":{"type":"string","description":"list of notificationEventTypes","enum":["NON_ASSOCIATION_EVENT","PRISONER_RELEASED_EVENT","PRISONER_RESTRICTION_CHANGE_EVENT","PRISON_VISITS_BLOCKED_FOR_DATE","SESSION_VISITS_BLOCKED_FOR_DATE","PRISONER_RECEIVED_EVENT","PRISONER_ALERTS_UPDATED_EVENT","PRISONER_ALERT_CREATED_EVENT","PRISONER_ALERT_UPDATED_EVENT","PERSON_RESTRICTION_UPSERTED_EVENT","VISITOR_RESTRICTION_UPSERTED_EVENT","VISITOR_UNAPPROVED_EVENT"]}}}],"responses":{"200":{"description":"Retrieve notification count for a prison","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationCountDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visits/external-system/{clientReference}":{"get":{"tags":["orchestration-visits-controller"],"summary":"Get visit reference from given client reference","operationId":"getVisitReferenceByClientReference","parameters":[{"name":"clientReference","in":"path","description":"clientReference","required":true,"schema":{"type":"string","description":"clientReference","example":"AABDC234","minLength":1},"example":"AABDC234"}],"responses":{"200":{"description":"Visit reference returned","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"500":{"description":"Failed to get a visit reference by client reference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions retrieve a visit reference by client reference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Failed to get a visit reference by client reference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visitor-requests/{requestReference}":{"get":{"tags":["public-booker-controller"],"summary":"Get a single visitor request for review","description":"Returns a single visitor request, with prisoner's approved visitor list","operationId":"getSingleVisitorRequestForReview","parameters":[{"name":"requestReference","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Successfully return a single visitor request and prisoner's approved visitor list","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SingleVisitorRequestForReviewDto"}}}},"400":{"description":"Incorrect request to get a single visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get a single visitor request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Booker not found or Visitor request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visit-sessions":{"get":{"tags":["orchestration-sessions-controller"],"summary":"Returns all visit sessions which are within the reservable time period - whether or not they are full","description":"Retrieve all visits for a specified prisoner","operationId":"getVisitSessions","parameters":[{"name":"prisonId","in":"query","description":"Query by NOMIS Prison Identifier","required":true,"schema":{"type":"string"},"example":"MDI"},{"name":"prisonerId","in":"query","description":"Filter results by prisoner id","required":false,"schema":{"type":"string"},"example":"A12345DC"},{"name":"min","in":"query","description":"Override the default minimum number of days notice from the current date","required":false,"schema":{"type":"integer","format":"int32"},"example":2},{"name":"max","in":"query","description":"Override the default maximum number of days to book-ahead from the current date","required":false,"schema":{"type":"integer","format":"int32"},"example":28},{"name":"username","in":"query","description":"Username for the user making the request. Used to exclude user's pending applications from session capacity count. Optional, ignored if not passed in.","required":false,"schema":{"type":"string"},"example":"user-1"},{"name":"userType","in":"query","description":"user type for the session","required":false,"schema":{"type":"string","enum":["STAFF","PUBLIC"]},"example":"STAFF"},{"name":"youngestVisitorAge","in":"query","description":"Age of the youngest visitor","required":false,"schema":{"type":"integer","format":"int32"},"example":18}],"responses":{"200":{"description":"Visit session information returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VisitSessionDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Incorrect request to Get visit sessions ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visit-sessions/session":{"get":{"tags":["orchestration-sessions-controller"],"summary":"Returns a single VSIP session","description":"Returns a single VSIP session","operationId":"getVisitSession","parameters":[{"name":"prisonCode","in":"query","description":"Prison code","required":true,"schema":{"type":"string"},"example":"MDI"},{"name":"sessionDate","in":"query","description":"Session date","required":true,"schema":{"type":"string","format":"date"},"example":"2020-11-01"},{"name":"sessionTemplateReference","in":"query","description":"Session template reference","required":true,"schema":{"type":"string"},"example":"xye-fjc-abc"}],"responses":{"200":{"description":"the session was found and returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitSessionDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Incorrect request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Session not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visit-sessions/schedule":{"get":{"tags":["orchestration-sessions-controller"],"summary":"Returns session scheduled for given prison and date","description":"Returns session scheduled for given prison and date","operationId":"getSessionSchedule","parameters":[{"name":"prisonId","in":"query","description":"Query by NOMIS Prison Identifier","required":true,"schema":{"type":"string"},"example":"CLI"},{"name":"date","in":"query","description":"Session date","required":true,"schema":{"type":"string","format":"date"},"example":"2023-01-31"},{"name":"includeExcludedSessions","in":"query","description":"Flag to indicate if excluded sessions should be part of the response. If false, any excluded sessions will not be returned. Defaults to false.","required":false,"schema":{"type":"boolean"},"example":false}],"responses":{"200":{"description":"Session templates returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SessionScheduleDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to view session templates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visit-sessions/public/available":{"get":{"tags":["orchestration-sessions-controller"],"summary":"Returns available visit sessions with sessions marked for review for a specified prisoner and visitors combination for the date range passed in.","description":"Returns available visit sessions with sessions marked for review for a specified prisoner and visitors combination for the date range passed in. Marks sessions for review if prisoner alerts / restrictions or visitor restrictions are found. Used by Visits Public only, not PVB","operationId":"getAvailableVisitSessions","parameters":[{"name":"prisonId","in":"query","description":"Query by NOMIS Prison Identifier","required":true,"schema":{"type":"string"},"example":"MDI"},{"name":"prisonerId","in":"query","description":"Filter results by prisoner id","required":true,"schema":{"type":"string"},"example":"A12345DC"},{"name":"visitors","in":"query","description":"List of visitors who require visit sessions","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":"4729510,4729220"},{"name":"excludedApplicationReference","in":"query","description":"The current application reference to be excluded from capacity count and double booking","required":false,"schema":{"type":"string"},"example":"dfs-wjs-eqr"},{"name":"username","in":"query","description":"Username for the user making the request. Used to exclude user's pending applications from session capacity count. Optional, ignored if not passed in.","required":false,"schema":{"type":"string"},"example":"user-1"},{"name":"userType","in":"query","description":"user type for the session","required":false,"schema":{"type":"string","enum":["STAFF","PUBLIC"]},"example":"PUBLIC"},{"name":"youngestVisitorAge","in":"query","description":"Age of the youngest visitor","required":false,"schema":{"type":"integer","format":"int32"},"example":18}],"responses":{"200":{"description":"Visit session information returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AvailableVisitSessionDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Incorrect request to Get visit sessions ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visit-sessions/capacity":{"get":{"tags":["orchestration-sessions-controller"],"summary":"Returns the VSIP session capacity for the given sessions","description":"Returns the VSIP session capacity for the given sessions","operationId":"getSessionCapacity","parameters":[{"name":"prisonId","in":"query","description":"Query by NOMIS Prison Identifier","required":true,"schema":{"type":"string"},"example":"CLI"},{"name":"sessionDate","in":"query","description":"Session date","required":true,"schema":{"type":"string","format":"date"},"example":"2020-11-01"},{"name":"sessionStartTime","in":"query","description":"Session start time","required":true,"schema":{"type":"string","format":"HH:mm","example":"13:45"},"example":"13:30:00"},{"name":"sessionEndTime","in":"query","description":"Session end time","required":true,"schema":{"type":"string","format":"HH:mm","example":"13:45"},"example":"14:30:00"}],"responses":{"200":{"description":"the session capacity for the given sessions","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SessionCapacityDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Incorrect request ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Capacity not found ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visit-sessions/available":{"get":{"tags":["orchestration-sessions-controller"],"summary":"Returns only available visit sessions for a specified prisoner by restriction and within the reservable time period","description":"Returns only available visit sessions for a specified prisoner by restriction and within the reservable time period","operationId":"getAvailableVisitSessions_1","parameters":[{"name":"prisonId","in":"query","description":"Query by NOMIS Prison Identifier","required":true,"schema":{"type":"string"},"example":"MDI"},{"name":"prisonerId","in":"query","description":"Filter results by prisoner id","required":true,"schema":{"type":"string"},"example":"A12345DC"},{"name":"sessionRestriction","in":"query","description":"Filter sessions by session restriction - OPEN or CLOSED, if prisoner has CLOSED it will use that","required":false,"schema":{"type":"string","enum":["OPEN","CLOSED"]},"example":"CLOSED"},{"name":"visitors","in":"query","description":"List of visitors who require visit sessions","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":"4729510,4729220"},{"name":"withAppointmentsCheck","in":"query","description":"Defaults to true if not passed. If true, will not return visit times that clash with higher priority legal or medical appointments.","required":false,"schema":{"type":"boolean"}},{"name":"excludedApplicationReference","in":"query","description":"The current application reference to be excluded from capacity count and double booking","required":false,"schema":{"type":"string"},"example":"dfs-wjs-eqr"},{"name":"pvbAdvanceFromDateByDays","in":"query","description":"For PVB only. Allows service to advance the opening session slot booking window by n days on top of any other overrides. Defaults to 0 if not passed.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"fromDateOverride","in":"query","description":"minimum override in days for opening session slot booking window, E.g. 2 will set min booking window to today + 2 days","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"toDateOverride","in":"query","description":"maximum override in days for closing session slot booking window, E.g. 28 will set max booking window to today + 28 days","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"username","in":"query","description":"Username for the user making the request. Used to exclude user's pending applications from session capacity count. Optional, ignored if not passed in.","required":false,"schema":{"type":"string"},"example":"user-1"},{"name":"userType","in":"query","description":"user type for the session","required":false,"schema":{"type":"string","enum":["STAFF","PUBLIC"]},"example":"PUBLIC"},{"name":"youngestVisitorAge","in":"query","description":"Age of the youngest visitor","required":false,"schema":{"type":"integer","format":"int32"},"example":18}],"responses":{"200":{"description":"Visit session information returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AvailableVisitSessionDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Incorrect request to Get visit sessions ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visit-sessions/available/restriction":{"get":{"tags":["orchestration-sessions-controller"],"summary":"Returns the restriction type of available sessions","description":"Returns the restriction of available sessions given a prisoner and optionally a list of visitors [OPEN / CLOSED]","operationId":"getSessionRestrictionType","parameters":[{"name":"prisonerId","in":"query","description":"Filter results by prisoner id","required":true,"schema":{"type":"string"},"example":"A12345DC"},{"name":"visitors","in":"query","description":"List of visitors who require visit sessions","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":"4729510,4729220"}],"responses":{"200":{"description":"Available visit session restriction returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AvailableVisitSessionRestrictionDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Incorrect request to Get available visit session restriction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/visit-sessions-and-schedule":{"get":{"tags":["orchestration-sessions-controller"],"summary":"Returns all visit sessions and prisoner schedule for a specified prisoner","description":"Retrieve all visit sessions and schedule for a specified prisoner","operationId":"getVisitSessionsAndSchedule","parameters":[{"name":"prisonId","in":"query","description":"Query by NOMIS Prison Identifier","required":true,"schema":{"type":"string"},"example":"MDI"},{"name":"prisonerId","in":"query","description":"Filter results by prisoner id","required":true,"schema":{"type":"string"},"example":"A12345DC"},{"name":"min","in":"query","description":"Override the default minimum number of days notice from the current date","required":false,"schema":{"type":"integer","format":"int32"},"example":2},{"name":"username","in":"query","description":"Username for the user making the request. Used to exclude user's pending applications from session capacity count. Optional, ignored if not passed in.","required":false,"schema":{"type":"string"},"example":"user-1"},{"name":"youngestVisitorAge","in":"query","description":"Age of the youngest visitor","required":false,"schema":{"type":"integer","format":"int32"},"example":18}],"responses":{"200":{"description":"Visit sessions and schedule information returned for a prisoner","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitSessionsAndScheduleDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Incorrect request to get visit sessions and schedule information for a prisoner ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v2/prisons/{prisonCode}/config/exclude-dates/future":{"get":{"tags":["orchestration-prisons-exclude-date-controller"],"summary":"Get all current or future exclude dates for a given prison and current or future excluded dates by session (if includeSessions is true)","description":"Get current or future exclude dates for a given prison and current or future excluded dates by session (if includeSessions is true).","operationId":"getFullDateAndSessionExclusionDatesForPrison","parameters":[{"name":"prisonCode","in":"path","description":"prison code","required":true,"schema":{"type":"string","description":"prison code","example":"HEI"},"example":"HEI"},{"name":"includeSessions","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Exclude dates successfully returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonAndSessionsExcludeDatesDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to view exclude dates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Prison not found on visit-scheduler","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/queue-admin/get-dlq-messages/{dlqName}":{"get":{"tags":["hmpps-queue-resource"],"operationId":"getDlqMessages","parameters":[{"name":"dlqName","in":"path","required":true,"schema":{"type":"string"}},{"name":"maxMessages","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetDlqResult"}}}}}}},"/public/booker/{bookerReference}":{"get":{"tags":["public-booker-controller"],"summary":"Get detailed information for a booker (including prisoners and visitors) via booker reference.","description":"Returns detailed information for a booker (including prisoners and visitors) via booker reference.","operationId":"getBookerDetails","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Return details","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookerDetailedInfoDto"}}}},"400":{"description":"Incorrect request to get booker details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get booker details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/visits/cancelled":{"get":{"tags":["orchestration-visits-controller"],"summary":"Get public cancelled visits by booker reference","description":"Get public cancelled visits by booker reference","operationId":"getCancelledPublicVisitsByBookerReference","parameters":[{"name":"bookerReference","in":"path","description":"bookerReference","required":true,"schema":{"type":"string","description":"bookerReference","example":"asd-aed-vhj"},"example":"asd-aed-vhj"}],"responses":{"200":{"description":"cancelled public visits returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrchestrationVisitDto"}}}}},"400":{"description":"Incorrect request to get cancelled public visits by booker reference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/visits/booked/past":{"get":{"tags":["orchestration-visits-controller"],"summary":"Get public past visits by booker reference","description":"Get public past visits by booker reference","operationId":"getPastPublicBookedVisitsByBookerReference","parameters":[{"name":"bookerReference","in":"path","description":"bookerReference","required":true,"schema":{"type":"string","description":"bookerReference","example":"asd-aed-vhj"},"example":"asd-aed-vhj"}],"responses":{"200":{"description":"past public visits returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrchestrationVisitDto"}}}}},"400":{"description":"Incorrect request to get past public visits by booker reference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/visits/booked/future":{"get":{"tags":["orchestration-visits-controller"],"summary":"Get future public booked visits by booker reference","description":"Get future public booked visits by booker reference","operationId":"getFuturePublicBookedVisitsByBookerReference","parameters":[{"name":"bookerReference","in":"path","description":"bookerReference","required":true,"schema":{"type":"string","description":"bookerReference","example":"asd-aed-vhj"},"example":"asd-aed-vhj"}],"responses":{"200":{"description":"Future public booked visits returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrchestrationVisitDto"}}}}},"400":{"description":"Incorrect request to get future booked visits by booker reference","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/prisoners/{prisonerId}/social-contacts":{"get":{"tags":["public-booker-controller"],"summary":"Get social contacts (not already registered to the booker) for a prisoner associated with that booker.","description":"Return social contacts that have not already been registered against the booker given a prison number and booker reference.","operationId":"getSocialContactsForPrisoner","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Return social contacts (not already registered) for a prisoner associated with that booker","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SocialContactsDto"}}}}},"400":{"description":"Incorrect request to get social contacts (not already registered) for a prisoner associated with that booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Booker not authorised / not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get social contacts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/permitted/visitors/requests":{"get":{"tags":["public-booker-controller"],"summary":"Get all active visitor requests for a booker.","description":"Returns all active visitor requests for a booker, empty if none found.","operationId":"getActiveVisitorRequestsForBooker","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Returns all active visitor requests for a booker, empty if none found.","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookerPrisonerVisitorRequestDto"}}}}},"400":{"description":"Incorrect request to get active visitor requests for a booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get active visitor requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/permitted/prisoners":{"get":{"tags":["public-booker-controller"],"summary":"Get permitted prisoners associated with a booker.","description":"Get permitted prisoners associated with a booker.","operationId":"getPermittedPrisonersForBooker","parameters":[{"name":"bookerReference","in":"path","description":"Booker's unique reference.","required":true,"schema":{"type":"string","minLength":1},"example":"A12345DC"}],"responses":{"200":{"description":"Returned prisoners associated with a booker","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookerPrisonerInfoDto"}}}}},"400":{"description":"Incorrect request to get prisoners associated with a booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get prisoners associated with a booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/public/booker/{bookerReference}/permitted/prisoners/{prisonerId}/validate":{"get":{"tags":["public-booker-controller"],"summary":"Validates prisoner associated with a booker","description":"Validates prisoner associated with a booker","operationId":"validatePrisoner","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonerId","in":"path","description":"Prisoner Id for whom visitors need to be returned.","required":true,"schema":{"type":"string","minLength":1},"example":"A12345DC"}],"responses":{"200":{"description":"Validation passed"},"400":{"description":"Incorrect request to validate prisoner associated with a booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions for this action","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Prisoner validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookerPrisonerValidationErrorResponse"}}}}}}},"/public/booker/{bookerReference}/audit":{"get":{"tags":["public-booker-controller"],"summary":"Get audit entries for a booker.","description":"Get audit entries for a booker.","operationId":"getBookerAudit","parameters":[{"name":"bookerReference","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Return all audit entries for booker","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookerHistoryAuditDto"}}}}},"400":{"description":"Incorrect request to get audit entries for a booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get audit entries for a booker","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prisoner/{prisonId}/{prisonerId}/profile":{"get":{"tags":["prisoner-profile-controller"],"summary":"Get a prisoner's profile page","description":"Get the prisoner's profile page","operationId":"getPrisonerProfile","parameters":[{"name":"prisonId","in":"path","required":true,"schema":{"type":"string"}},{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Prisoner Profile Returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrisonerProfileDto"}}}},"500":{"description":"Incorrect request to the prisoner profile page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to retrieve a prisoner's profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Prisoner profile not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prison/{prisonId}/prisoners/{prisonerId}/visit-orders/history":{"get":{"tags":["visit-orders-controller"],"summary":"Get visit order history for a prisoner since the from date.","description":"Get visit order history for a prisoner since the from date.","operationId":"getVisitOrderHistoryForPrisoner","parameters":[{"name":"prisonId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"prisonerId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"fromDate","in":"query","description":"Date from which the visit order history will be returned","required":true,"schema":{"type":"string","format":"date","description":"Date from which the visit order history will be returned","example":"2025-01-01"},"example":"2025-01-01"},{"name":"maxResults","in":"query","description":"Maximum number of results to return, if null, returns all results starting from the date passed in fromDate.","required":false,"schema":{"type":"integer","format":"int32","description":"Maximum number of results to return, if null, returns all results starting from the date passed in fromDate.","example":100},"example":100}],"responses":{"200":{"description":"Return visit order history for a prisoner since the from date.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitOrderHistoryDetailsDto"}}}},"400":{"description":"Incorrect request to get visit order history for a prisoner since the from date.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get visit order history","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prison/{prisonCode}/visitor-requests":{"get":{"tags":["public-booker-controller"],"summary":"Get a list of all active visitor requests for a prison via prison code","description":"Get a list of all active visitor requests for a prison via prison code","operationId":"getVisitorRequestsByPrisonCode","parameters":[{"name":"prisonCode","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"List successfully returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrisonVisitorRequestListEntryDto"}}}}},"400":{"description":"Incorrect request to get list of active visitor requests for prison.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get list of active visitor requests for prison","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prison/{prisonCode}/visitor-requests/count":{"get":{"tags":["public-booker-controller"],"summary":"Get a count of all visitor requests for a prison via prison code","description":"Get a count of all visitor requests for a prison via prison code","operationId":"getVisitorRequestsCountByPrisonCode","parameters":[{"name":"prisonCode","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Count successfully returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VisitorRequestsCountByPrisonCodeDto"}}}},"400":{"description":"Incorrect request to get count of visitor requests for prison.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get count of visitor requests for prison","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/sessions/session/{sessionTemplateReference}/exclude-date/{excludeDate}/isExcluded":{"get":{"tags":["orchestration-sessions-exclude-date-controller"],"summary":"Endpoint to check if the date passed has been excluded for visits for the session template","description":"Returns true if the date passed has been excluded for visits for the session template, false otherwise.","operationId":"isDateExcludedForSessionTemplateVisits","parameters":[{"name":"sessionTemplateReference","in":"path","description":"session template reference","required":true,"schema":{"type":"string","description":"session template reference","example":"aaa-bbb-ccc"},"example":"aaa-bbb-ccc"},{"name":"excludeDate","in":"path","description":"date to be checked if excluded for session template","required":true,"schema":{"type":"string","format":"date","description":"date to be checked if excluded for session template","example":"2024-12-26"},"example":"2024-12-26"}],"responses":{"200":{"description":"Successful response if the date is excluded for the session template","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IsExcludeDateDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to check if date excluded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Session template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/sessions/session/{sessionTemplateReference}/exclude-date/past":{"get":{"tags":["orchestration-sessions-exclude-date-controller"],"summary":"Get all past exclude dates for a given session template","description":"Get all past exclude dates for a given session template","operationId":"getPastExcludeDatesForSessionTemplate","parameters":[{"name":"sessionTemplateReference","in":"path","description":"session template reference","required":true,"schema":{"type":"string","description":"session template reference","example":"aaa-bbb-ccc"},"example":"aaa-bbb-ccc"}],"responses":{"200":{"description":"Exclude dates successfully returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExcludeDateDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to view exclude dates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Session template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/sessions/session/{sessionTemplateReference}/exclude-date/future":{"get":{"tags":["orchestration-sessions-exclude-date-controller"],"summary":"Get all current or future exclude dates for a given session template","description":"Get current or future exclude dates for a given session template","operationId":"getFutureExcludeDatesForSessionTemplate","parameters":[{"name":"sessionTemplateReference","in":"path","description":"session template reference","required":true,"schema":{"type":"string","description":"session template reference","example":"aaa-bbb-ccc"},"example":"aaa-bbb-ccc"}],"responses":{"200":{"description":"Exclude dates successfully returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExcludeDateDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to view exclude dates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Session template not found on visit-scheduler","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/prisons/user-type/{type}/supported":{"get":{"tags":["orchestration-prisons-config-controller"],"summary":"Get supported prisons","description":"Get all supported prisons id's","operationId":"getSupportedPrisons","parameters":[{"name":"type","in":"path","description":"type","required":true,"schema":{"type":"string","description":"type","enum":["STAFF","PUBLIC"],"example":"STAFF"},"example":"STAFF"}],"responses":{"200":{"description":"Supported prisons returned","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}},"example":["HEI","MDI"]}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to view session templates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/prisons/user-type/{type}/supported/detailed":{"get":{"tags":["orchestration-prisons-config-controller"],"summary":"Get supported prisons with detailed prison details by user type","description":"Get all supported prisons with detailed prison details by user type","operationId":"getSupportedPrisonDetails","parameters":[{"name":"type","in":"path","description":"type","required":true,"schema":{"type":"string","description":"type","enum":["STAFF","PUBLIC"],"example":"STAFF"},"example":"STAFF"}],"responses":{"200":{"description":"Supported prisons returned","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrisonRegisterPrisonDto"}}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get supported prison details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/prisons/prison/{prisonCode}/exclude-date/{excludeDate}/isExcluded":{"get":{"tags":["orchestration-prisons-exclude-date-controller"],"summary":"Endpoint to check if the date passed has been excluded for visits by the prison","description":"Returns true if the date passed has been excluded for visits by the prison, false otherwise.","operationId":"isDateExcludedForPrisonVisits","parameters":[{"name":"prisonCode","in":"path","description":"prison code","required":true,"schema":{"type":"string","description":"prison code","example":"HEI"},"example":"HEI"},{"name":"excludeDate","in":"path","description":"date to be checked if excluded by prison for visits","required":true,"schema":{"type":"string","format":"date","description":"date to be checked if excluded by prison for visits","example":"2024-12-26"},"example":"2024-12-26"}],"responses":{"200":{"description":"Successful response if the date is excluded for visits at the prison","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IsExcludeDateDto"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to check if date excluded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Prison not found on visit-scheduler","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/config/prisons/prison/{prisonCode}/exclude-date/past":{"get":{"tags":["orchestration-prisons-exclude-date-controller"],"summary":"Get all past exclude dates for a given prison","description":"Get all past exclude dates for a given prison","operationId":"getPastExcludeDatesForPrison","p
[...]
