spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/event_store?sslmode=prefer"
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 2
  flyway:
    enabled: true
    baselineOnMigrate: true

# Use ports >= 4010
services:
  hmpps-auth.base-url: http://localhost:9090
  adjudications.base-url: http://localhost:4010
  assess-risks-and-needs.base-url: http://localhost:4011
  case-notes.base-url: http://localhost:4012
  create-and-vary-licence.base-url: http://localhost:4013
  manage-pom-case-api.base-url: http://localhost:4014
  ndelius.base-url: http://localhost:4015
  prison-api.base-url: http://localhost:4016
  prisoner-offender-search.base-url: http://localhost:4017
  probation-integration-epf.base-url: http://localhost:4018
  plp.base-url: http://localhost:4020
  san.base-url: http://localhost:4200
  non-associations.base-url: http://localhost:4021
  personal-relationships.base-url: http://localhost:4022
  manage-prison-visits.base-url: http://localhost:4023
  incentives.base-url: http://localhost:4024
  alerts.base-url: http://localhost:4025
  locations-inside-prison.base-url: http://localhost:4026
  health-and-medication.base-url: http://localhost:4027
  activities.base-url: http://localhost:4028
  integration-api.base-url: http://localhost:4029
  prisoner-base-location.base-url: http://localhost:4030
  core-person-record.base-url: http://localhost:4031

hmpps.sqs:
  provider: localstack
  useWebToken: false
  queues:
    audit:
      queueName: "audit"
    jobsboardintegration:
      queueName: "jobsboard-integration"
    visits:
      queueName: "visits"
    assessmentevents:
      queueName: "assessmentevents"
    locations:
      queueName: "locations"
    activities:
      queueName: "activities"
    educationstatusevents:
      queueName: "educationstatusevents"
      subscribeFilter: '{"eventType":["prison.education.updated"]}'
      subscribeTopicId: "domainevents"
  topics:
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:domainevents-topic

feature-flag:
  course-completion-event-enabled: true
  use-contact-events-endpoint: true
  epf-endpoint-includes-lao: true
  cpr-enabled: true
  gateway-cache-enabled: true
  normalised-path-matching: true
  use-new-risk-score-api: true
  enable-delete-processed-events: false

authorisation:
  consumers:
    automated-test-client:
      roles:
        - "full-access"
      filters:
    config-v2-test:
      roles:
        - "hmpps-system"
      filters:
        prisons:
          - XYZ
    all-access:
      roles:
        - "full-access"
