services:
  probation-offender-search:
    base-url: http://localhost:4020
  prisoner-offender-search:
    base-url: http://localhost:4010
  prison-api:
    base-url: http://localhost:4030
  ndelius:
    base-url: http://localhost:4040
  assess-risks-and-needs:
    base-url: http://localhost:4050
  probation-integration-epf:
    base-url: http://localhost:4060
  hmpps-auth:
    base-url: http://localhost:9090
  adjudications:
    base-url: http://localhost:4045
  create-and-vary-licence:
    base-url: http://localhost:4070
  case-notes:
    base-url: http://localhost:4080
  manage-pom-case-api:
    base-url: http://localhost:4090
  risk-management-plan-search:
    base-url: http://localhost:4091

hmpps.sqs:
  provider: localstack
  useWebToken: false
  queues:
    audit:
      queueName: "audit"

authorisation:
  consumers:
    automated-test-client:
      - "/v1/persons"
      - "/v1/persons/\\.*+[^/]*$"
      - "/v1/persons/.*/images"
      - "/v1/images/\\.*+[^/]*$"
      - "/v1/persons/.*/addresses"
      - "/v1/persons/.*/offences"
      - "/v1/persons/.*/alerts"
      - "/v1/persons/.*/sentences"
      - "/v1/persons/.*/sentences/latest-key-dates-and-adjustments"
      - "/v1/persons/.*/risks/scores"
      - "/v1/persons/.*/needs"
      - "/v1/persons/.*/risks/serious-harm"
      - "/v1/persons/.*/reported-adjudications"
      - "/v1/persons/.*/adjudications"
      - "/v1/persons/.*/licences/conditions"
      - "/v1/persons/.*/protected-characteristics"
      - "/v1/persons/.*/risks/mappadetail"
      - "/v1/persons/.*/risks/categories"
      - "/v1/persons/.*/case-notes"
      - "/v1/persons/.*/person-responsible-officer"
      - "/v1/persons/.*/risk-management-plan"
      - "/v1/epf/person-details/.*/\\.*+[^/]*$"
      - "/health"
      - "/health/ping"
      - "/health/readiness"
      - "/health/liveness"
      - "/info"
    config-test:
      - "/v1/config/authorisation"
