server:
  shutdown: immediate

management.endpoint:
  health.cache.time-to-live: 0
  info.cache.time-to-live: 0

services:
  prison-api:
    base-url: http://localhost:4016
  hmpps-auth:
    base-url: http://localhost:3000
    username: client
    password: client-secret
  adjudications:
    base-url: http://localhost:4010
  prisoner-offender-search:
    base-url: http://localhost:4017
  probation-offender-search:
    base-url: http://localhost:4019
  ndelius:
    base-url: http://localhost:4015
  assess-risks-and-needs:
    base-url: http://localhost:4011
  probation-integration-epf:
    base-url: http://localhost:4005
  create-and-vary-licence:
    base-url: http://localhost:4013
  case-notes:
    base-url: http://localhost:4012
  manage-pom-case-api:
    base-url: http://localhost:4009

hmpps.sqs:
  provider: localstack
  queues:
    audit:
      queueName: "audit"

authorisation:
  consumers:
    automated-test-client:
      - "/v1/persons"
      - "/v1/persons/[^/]*$"
      - "/v1/persons/.*/images"
      - "/v1/persons/.*/name"
      - "/v1/images/[^/]*$"
      - "/v1/persons/.*/addresses"
      - "/v1/persons/.*/offences"
      - "/v1/persons/.*/alerts"
      - "/v1/persons/.*/alerts/pnd"
      - "/v1/persons/.*/sentences"
      - "/v1/persons/.*/sentences/latest-key-dates-and-adjustments"
      - "/v1/persons/.*/risks/scores"
      - "/v1/persons/.*/needs"
      - "/v1/persons/.*/risks/serious-harm"
      - "/v1/persons/.*/reported-adjudications"
      - "/v1/persons/.*/adjudications"
      - "/v1/persons/.*/licences/conditions"
      - "/v1/persons/.*/protected-characteristics"
      - "/v1/persons/.*/risks/mappadetail"
      - "/v1/persons/.*/risks/categories"
      - "/v1/persons/.*/status-information"
      - "/v1/persons/.*/risks/dynamic"
      - "/v1/persons/.*/case-notes"
      - "/v1/persons/.*/person-responsible-officer"
      - "/v1/persons/.*/risk-management-plan"
      - "/v1/persons/.*/cell-location"
      - "/v1/epf/person-details/.*/[^/]*$"
      - "/v1/hmpps-id/nomis-number/[^/]*$"
      - "/health"
      - "/health/ping"
      - "/health/readiness"
      - "/health/liveness"
      - "/info"
    config-test:
      - "/v1/config/authorisation"
    all-access:
      - "/.*"
