server:
  shutdown: immediate

management.endpoint:
  health.cache.time-to-live: 0
  info.cache.time-to-live: 0

services:
  hmpps-auth:
    base-url: http://localhost:3000
    username: client
    password: client-secret
  prisoner-offender-search:
    base-url: http://localhost:4000
  health-and-medication:
    base-url: http://localhost:4001
  manage-pom-case-api:
    base-url: http://localhost:4002
  plp:
    base-url: http://localhost:4003
  san:
    base-url: http://localhost:4200
  adjudications:
    base-url: http://localhost:4010
  assess-risks-and-needs:
    base-url: http://localhost:4011
  case-notes:
    base-url: http://localhost:4012
  create-and-vary-licence:
    base-url: http://localhost:4013
  ndelius:
    base-url: http://localhost:4014
  prison-api:
    base-url: http://localhost:4015
  probation-integration-epf:
    base-url: http://localhost:4016
  non-associations:
    base-url: http://localhost:4018
  personal-relationships:
    base-url: http://localhost:4019
  manage-prison-visits:
    base-url: http://localhost:4020
  incentives:
    base-url: http://localhost:4021
  alerts:
    base-url: http://localhost:4022
  locations-inside-prison:
    base-url: http://localhost:4023
  prisoner-base-location:
    base-url: http://localhost:4030
  core-person-record:
    base-url: http://localhost:4031
  activities:
    base-url: http://localhost:4004

hmpps.sqs:
  provider: localstack
  queues:
    audit:
      queueName: "audit"
    jobsboardintegration:
      queueName: "jobsboard-integration"
    visits:
      queueName: "visits"
    assessmentevents:
      queueName: "assessmentevents"
    locations:
      queueName: "locations"
    activities:
      queueName: "activities"
    educationstatusevents:
      queueName: "educationstatusevents"
      subscribeFilter: '{"eventType":["prison.education.updated"]}'
      subscribeTopicId: "domainevents"
    educationalnevents:
      queueName: "educationalnevents"
      subscribeFilter: '{"eventType":["prison.education-aln-assessment.updated"]}'
      subscribeTopicId: "domainevents"
  topics:
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:domainevents-topic

feature-flag:
  use-update-attendance-endpoint: true
  use-schedule-detail-endpoint: true
  use-search-appointments-endpoint: true
  use-deallocation-endpoint: true
  use-scheduled-instances-endpoint: true
  use-deallocation-reasons-endpoint: true
  use-allocation-endpoint: true
  use-education-endpoint: true
  use-prisoner-base-location-api: true
  use-historical-attendances-endpoint: true
  use-suitability-endpoint: true
  use-waiting-list-endpoint: true
  use-contact-events-endpoint: true
  epf-endpoint-includes-lao: false
  cpr-enabled: true

authorisation:
  consumers:
    automated-test-client:
      roles:
        - "full-access"
        - "mappa-cat4"
      filters:
    automated-test-client-mappa:
      roles:
        - "full-access"
        - "mappa-cat4"
      filters:
        mappa-categories:
          - "*"
    automated-test-client-mappa-2:
      roles:
        - "full-access"
        - "mappa-cat4"
      filters:
        mappa-categories:
          - CAT1
    automated-test-client-no-filters:
      roles:
        - "full-access"
    config-v2-test:
      roles:
        - "hmpps-system"
      filters:
        prisons:
          - XYZ
    all-access:
      include:
        - "/.*"
      filters:
    specific-prison:
      roles:
        - "all-endpoints"
      filters:
        prisons:
          - MDI
    limited-prisons:
      roles:
        - "all-endpoints"
      filters:
        prisons:
          - ABC
    no-prisons:
      roles:
        - "all-endpoints"
      filters:
        prisons:
    private-prison-only:
      roles:
        - "private-prison"
      include:
      filters:
    limited-case-notes:
      roles:
        - "all-endpoints"
      filters:
        case-notes:
          - "CAB"
    reference-data-only-user:
      roles:
        - "reference-data-only"
      include:
      filters:
    person-search-no-access-client:
      include:
        - "/v1/persons/[^/]*$"
        - "/v1/persons/.*/addresses"
