services:
  prison-api:
    base-url: https://api.prison.service.justice.gov.uk
  prisoner-offender-search:
    base-url: https://prisoner-offender-search.prison.service.justice.gov.uk
  probation-offender-search:
    base-url: https://probation-offender-search.hmpps.service.justice.gov.uk
  ndelius:
    base-url: https://external-api-and-delius.hmpps.service.justice.gov.uk
  assess-risks-and-needs:
    base-url: https://assess-risks-and-needs.hmpps.service.justice.gov.uk
  hmpps-auth:
    base-url: https://sign-in.hmpps.service.justice.gov.uk
    username: ${CLIENT_ID}
    password: ${CLIENT_SECRET}

feature-flags:
  use-crn-instead-of-pnc-id: false