spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/event_store?sslmode=prefer"
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 2
  flyway:
    enabled: true
    baselineOnMigrate: true

server:
  shutdown: immediate

management.endpoint:
  health.cache.time-to-live: 0
  info.cache.time-to-live: 0

# Use ports <4010, reuse if required
services:
  prison-api:
    base-url: http://localhost:4000
  hmpps-auth:
    base-url: http://localhost:3000
    username: client
    password: client-secret
  prisoner-offender-search:
    base-url: http://localhost:4000
  health-and-medication:
    base-url: http://localhost:4001
  manage-pom-case-api:
    base-url: http://localhost:4002
  plp:
    base-url: http://localhost:4003
  san:
    base-url: http://localhost:4200
  ndelius:
    base-url: http://localhost:4003
  assess-risks-and-needs:
    base-url: http://localhost:4004
  probation-integration-epf:
    base-url: http://localhost:4005
  adjudications:
    base-url: http://localhost:4006
  create-and-vary-licence:
    base-url: http://localhost:4007
  case-notes:
    base-url: http://localhost:4008
  non-associations:
    base-url: http://localhost:4005
  personal-relationships:
    base-url: http://localhost:4006
  manage-prison-visits:
    base-url: http://localhost:4007
  incentives:
    base-url: http://localhost:4008
  alerts:
    base-url: http://localhost:4009
  locations-inside-prison:
    base-url: http://localhost:4000
  activities:
    base-url: http://localhost:4004
  prisoner-base-location:
    base-url: http://localhost:4030
  core-person-record:
    base-url: http://localhost:4031

hmpps.sqs:
  provider: localstack
  queues:
    audit:
      queueName: "audit"
    jobsboardintegration:
      queueName: "jobsboard-integration"
    visits:
      queueName: "visits"
    assessmentevents:
      queueName: "assessmentevents"
    locations:
      queueName: "locations"
    activities:
      queueName: "activities"
    educationcoursecompletionevents:
      queueName: "education-course-completion-events"
    educationstatusevents:
      queueName: "educationstatusevents"
      subscribeFilter: '{"eventType":["prison.education.updated"]}'
      subscribeTopicId: "domainevents"
  topics:
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:domainevents-topic

feature-flag:
  course-completion-event-enabled: true
  use-contact-events-endpoint: true
  use-emergency-contacts-endpoint: false
  epf-endpoint-includes-lao: true
  cpr-enabled: true
  gateway-cache-enabled: true
  normalised-path-matching: true
  enable-delete-processed-events: false
  enable-send-processed-events: false
  enable-send-decimal-risk-scores: true

authorisation:
  consumers:
    automated-test-client:
      notes: "For automated testing in a local environment"
      roles:
        - "full-access"
    config-v2-test:
      roles:
        - "hmpps-system"
      filters:
        prisons:
          - XYZ
    no-include-or-roles:
    empty-include:
      notes: "A test consumer with no permissions"
    empty-roles:
      notes: "Consumer with no roles"
    limited-prisons:
      roles:
        - "all-endpoints"
      filters:
        prisons:
          - XYZ
    empty-prisons:
      roles:
        - "all-endpoints"
      filters:
        prisons:
    private-prison-only:
      roles:
        - "private-prison"
    limited-case-notes:
      roles:
        - "all-endpoints"
      filters:
        case-notes:
          - "CAB"
    supervision-status-prison-only:
      roles:
        - "all-endpoints"
      filters:
        supervisionStatuses:
          - PRISONS
    supervision-status-probation-only:
      roles:
        - "all-endpoints"
      filters:
        supervisionStatuses:
          - PROBATION
