services:
  probation-offender-search:
    base-url: http://localhost:4020
  prisoner-offender-search:
    base-url: http://localhost:4010
  prison-api:
    base-url: http://localhost:4030
  ndelius:
    base-url: http://localhost:4040
  assess-risks-and-needs:
    base-url: http://localhost:4050
  probation-integration-epf:
    base-url: http://localhost:4060
  hmpps-auth:
    base-url: http://localhost:9090
  adjudications:
    base-url: http://localhost:4045
  create-and-vary-licence:
    base-url: http://localhost:4070

hmpps.sqs:
  provider: localstack
  queues:
    audit:
      queueName: "audit"

authorisation:
  consumers:
    automated-test-client:
      - "/v1/persons"
      - "/v1/persons/.*"
      - "/v1/persons/.*/images"
      - "/v1/images/.*"
      - "/v1/persons/.*/addresses"
      - "/v1/persons/.*/offences"
      - "/v1/persons/.*/alerts"
      - "/v1/persons/.*/sentences"
      - "/v1/persons/.*/sentences/latest-key-dates-and-adjustments"
      - "/v1/persons/.*/risks/scores"
      - "/v1/persons/.*/needs"
      - "/v1/persons/.*/risks"
      - "/v1/persons/.*/reported-adjudications"
      - "/v1/epf/person-details/.*/.*"
      - "/health"
      - "/health/ping"
      - "/health/readiness"
      - "/health/liveness"
      - "/info"
