services:
  prison-api:
    base-url: https://prison-api-preprod.prison.service.justice.gov.uk
  prisoner-offender-search:
    base-url: https://prisoner-search-preprod.prison.service.justice.gov.uk
  probation-offender-search:
    base-url: https://probation-offender-search-preprod.hmpps.service.justice.gov.uk
  ndelius:
    base-url: https://external-api-and-delius-preprod.hmpps.service.justice.gov.uk
  assess-risks-and-needs:
    base-url: https://assess-risks-and-needs-preprod.hmpps.service.justice.gov.uk
  probation-integration-epf:
    base-url: https://effective-proposal-framework-and-delius-preprod.hmpps.service.justice.gov.uk
  adjudications:
    base-url: https://manage-adjudications-api-preprod.hmpps.service.justice.gov.uk
  create-and-vary-licence:
    base-url: https://create-and-vary-a-licence-api-preprod.hmpps.service.justice.gov.uk
  case-notes:
    base-url: https://preprod.offender-case-notes.service.justice.gov.uk
  manage-pom-case-api:
    base-url: https://preprod.moic.service.justice.gov.uk
  plp:
    base-url: https://learningandworkprogress-api-preprod.hmpps.service.justice.gov.uk
  non-associations:
    base-url: https://non-associations-api-preprod.hmpps.service.justice.gov.uk
  manage-prison-visits:
    base-url: https://hmpps-manage-prison-visits-orchestration-dev.prison.service.justice.gov.uk
  hmpps-auth:
    base-url: https://sign-in-preprod.hmpps.service.justice.gov.uk
    username: ${CLIENT_ID}
    password: ${CLIENT_SECRET}

authorisation:
  consumers:
    ctrlo:
      include:
        - "/v1/epf/person-details/.*/[^/]*$"
      filters:
    moj-pes:
      include:
        - "/v1/persons/.*/name"
        - "/v1/hmpps/id/nomis-number/[^/]*$"
        - "/v1/hmpps/id/by-nomis-number/[^/]*$"
        - "/v1/hmpps/id/nomis-number/by-hmpps-id/[^/]*$"
        - "/v1/persons/.*/cell-location"
      filters:
    kubernetes-health-check-client:
      include:
        - "/health/liveness"
        - "/health/readiness"
      filters:
    event-service:
      include:
        - "/v1/config/authorisation"
      filters:
    meganexus:
      include:
        - "/v1/persons/.*/plp-induction-schedule"
        - "/v1/persons/.*/plp-induction-schedule/history"
        - "/v1/persons/.*/plp-review-schedule"
        - "/v1/hmpps/id/by-nomis-number/[^/]*$"
        - "/v1/hmpps/id/nomis-number/by-hmpps-id/[^/]*$"
