services:
  prison-api:
    base-url: https://prison-api-preprod.prison.service.justice.gov.uk
  prisoner-offender-search:
    base-url: https://prisoner-search-preprod.prison.service.justice.gov.uk
  ndelius:
    base-url: https://external-api-and-delius-preprod.hmpps.service.justice.gov.uk
  assess-risks-and-needs:
    base-url: https://assess-risks-and-needs-preprod.hmpps.service.justice.gov.uk
  probation-integration-epf:
    base-url: https://external-api-and-delius-preprod.hmpps.service.justice.gov.uk
  adjudications:
    base-url: https://manage-adjudications-api-preprod.hmpps.service.justice.gov.uk
  create-and-vary-licence:
    base-url: https://create-and-vary-a-licence-api-preprod.hmpps.service.justice.gov.uk
  case-notes:
    base-url: https://preprod.offender-case-notes.service.justice.gov.uk
  manage-pom-case-api:
    base-url: https://preprod.moic.service.justice.gov.uk
  plp:
    base-url: https://learningandworkprogress-api-preprod.hmpps.service.justice.gov.uk
  san:
    base-url: https://support-for-additional-needs-api-preprod.hmpps.service.justice.gov.uk
  non-associations:
    base-url: https://non-associations-api-preprod.hmpps.service.justice.gov.uk
  manage-prison-visits:
    base-url: https://hmpps-manage-prison-visits-orchestration-preprod.prison.service.justice.gov.uk
  incentives:
    base-url: https://incentives-api-preprod.hmpps.service.justice.gov.uk
  alerts:
    base-url: https://alerts-api-preprod.hmpps.service.justice.gov.uk
  hmpps-auth:
    base-url: https://sign-in-preprod.hmpps.service.justice.gov.uk
    username: ${CLIENT_ID}
    password: ${CLIENT_SECRET}
  locations-inside-prison:
    base-url: https://locations-inside-prison-api-preprod.hmpps.service.justice.gov.uk
  health-and-medication:
    base-url: https://health-and-medication-api-preprod.hmpps.service.justice.gov.uk
  activities:
    base-url: https://activities-api-preprod.prison.service.justice.gov.uk
  prisoner-base-location:
    base-url: https://prisoner-base-location-api-preprod.hmpps.service.justice.gov.uk
  core-person-record:
    base-url: https://hmpps-person-record-preprod.hmpps.service.justice.gov.uk

feature-flag:
  use-update-attendance-endpoint: true
  use-schedule-detail-endpoint: true
  use-search-appointments-endpoint: true
  use-deallocation-endpoint: true
  use-scheduled-instances-endpoint: true
  use-deallocation-reasons-endpoint: true
  use-allocation-endpoint: true
  use-education-endpoint: true
  use-prisoner-base-location-api: false
  use-historical-attendances-endpoint: true
  use-suitability-endpoint: true
  use-waiting-list-endpoint: true
  simple-redaction: false
  use-contact-events-endpoint: false
  epf-endpoint-includes-lao: false
  epf-gateway-disabled: true
  cpr-enabled: false
  cert-revocation-enabled: false

authorisation:
  consumers:
    ctrlo:
      notes: "See client list in Confluence"
      roles:
        - "ctrlo"
    moj-pes:
      notes: "See client list in Confluence"
      roles:
        - "moj-prisoner-education"
    kubernetes-health-check-client:
      notes: "Kubernetes cluster automated healthchecks"
      roles:
        - "hmpps-system"
    event-service:
      notes: "HMPPS External Events service"
      roles:
        - "hmpps-system"
    meganexus:
      notes: "See client list in Confluence"
      roles:
        - "curious"
    pnd:
      notes: "See client list in Confluence"
      roles:
        - "police"
    pmcphee:
      notes: "ExtApi developer"
      roles:
        - "police"
    smoke-test:
      notes: "Post-deployment smoke tests"
      roles:
        - "hmpps-system"

redaction:
  client-names:
    - meganexus
