services:
  hmpps-auth.base-url: http://hmpps-auth:8080

  adjudications.base-url: http://prism:4010
  assess-risks-and-needs.base-url: http://prism:4011
  case-notes.base-url: http://prism:4012
  create-and-vary-licence.base-url: http://prism:4013
  manage-pom-case-api.base-url: http://prism:4014
  ndelius.base-url: http://prism:4015
  prison-api.base-url: http://prism:4016
  prisoner-offender-search.base-url: http://prism:4017
  probation-integration-epf.base-url: http://prism:4018
  plp.base-url: http://prism:4020
  san.base-url: http://localhost:4200
  non-associations.base-url: http://prism:4021
  personal-relationships.base-url: http://localhost:4022
  manage-prison-visits.base-url: http://localhost:4023
  incentives.base-url: http://localhost:4024
  alerts.base-url: http://localhost:4025
  locations-inside-prison.base-url: http://localhost:4026
  health-and-medication.base-url: http://localhost:4027
  activities.base-url: http://localhost:4028
  integration-api.base-url: http://localhost:4029
  prisoner-base-location.base-url: http://localhost:4030
  core-person-record.base-url: http://localhost:4031

authorisation:
  consumers:
    automated-test-client:
      roles:
        - "full-access"
      filters:
    config-v2-test:
      roles:
        - "hmpps-system"
      filters:
        prisons:
          - XYZ
    all-access:
      roles:
        - "full-access"
      filters:

hmpps.sqs:
  provider: localstack
  localstackUrl: http://local-stack-aws:4566
  useWebToken: false
  queues:
    audit:
      queueName: "audit"
    jobsboardintegration:
      queueName: "jobsboard-integration"
    visits:
      queueName: "visits"
    assessmentevents:
      queueName: "assessmentevents"
    locations:
      queueName: "locations"
    activities:
      queueName: "activities"
    educationstatusevents:
      queueName: "educationstatusevents"
      subscribeFilter: '{"eventType":["prison.education.updated"]}'
      subscribeTopicId: "domainevents"
    educationalnevents:
      queueName: "educationalnevents"
      subscribeFilter: '{"eventType":["prison.education-aln-assessment.updated"]}'
      subscribeTopicId: "domainevents"
  topics:
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:domainevents-topic

feature-flag:
  use-update-attendance-endpoint: true
  use-schedule-detail-endpoint: true
  use-search-appointments-endpoint: true
  use-deallocation-endpoint: true
  use-scheduled-instances-endpoint: true
  use-deallocation-reasons-endpoint: true
  use-allocation-endpoint: true
  use-education-endpoint: true
  use-prisoner-base-location-api: true
  use-historical-attendances-endpoint: true
  use-suitability-endpoint: true
  use-waiting-list-endpoint: true
  simple-redaction: false
  use-contact-events-endpoint: true
  epf-endpoint-includes-lao: false
  cpr-enabled: true
  cert-revocation-enabled: true
