services:
  probation-offender-search:
    base-url: http://probation-offender-search:4010
  prisoner-offender-search:
    base-url: http://prisoner-search:4010
  prison-api:
    base-url: http://prison-api:4010
  ndelius:
    base-url: http://ndelius-api:4010
  assess-risks-and-needs:
    base-url: http://assess-risks-and-needs-api:4010
  case-details-api:
    base-url: http://case-details-api:4010
  hmpps-auth:
    base-url: http://hmpps-auth:8080
