services:
  prison-api:
    base-url: https://prison-api-dev.prison.service.justice.gov.uk
  prisoner-offender-search:
    base-url: https://prisoner-search-dev.prison.service.justice.gov.uk
  probation-offender-search:
    base-url: https://probation-offender-search-dev.hmpps.service.justice.gov.uk
  ndelius:
    base-url: https://external-api-and-delius-dev.hmpps.service.justice.gov.uk
  assess-risks-and-needs:
    base-url: https://assess-risks-and-needs-dev.hmpps.service.justice.gov.uk
  probation-integration-epf:
    base-url: https://effective-proposal-framework-and-delius-dev.hmpps.service.justice.gov.uk
  adjudications:
    base-url: https://manage-adjudications-api-dev.hmpps.service.justice.gov.uk
  create-and-vary-licence:
    base-url: https://create-and-vary-a-licence-api-dev.hmpps.service.justice.gov.uk
  hmpps-auth:
    base-url: https://sign-in-dev.hmpps.service.justice.gov.uk
    username: ${CLIENT_ID}
    password: ${CLIENT_SECRET}

authorisation:
  consumers:
    mapps.client.org:
      - "/v1/persons"
      - "/v1/persons/.*"
      - "/v1/persons/.*/images"
      - "/v1/images/.*"
      - "/v1/persons/.*/addresses"
      - "/v1/persons/.*/offences"
      - "/v1/persons/.*/alerts"
      - "/v1/persons/.*/sentences"
      - "/v1/persons/.*/sentences/latest-key-dates-and-adjustments"
      - "/v1/persons/.*/risks/scores"
      - "/v1/persons/.*/needs"
      - "/v1/persons/.*/risks"
    ctrlo:
      - "/v1/epf/person-details/.*/.*"
    kubernetes-health-check-client:
      - "/health/liveness"
      - "/health/readiness"
    heartbeat:
      - "/v1/persons/.*"
