services:
  probation-offender-search:
    base-url: http://probation-offender-search:4010
  prisoner-offender-search:
    base-url: http://prisoner-search:4010
  prison-api:
    base-url: http://prison-api:4010
  ndelius:
    base-url: http://ndelius-api:4010
  assess-risks-and-needs:
    base-url: http://assess-risks-and-needs-api:4010
  probation-integration-epf:
    base-url: http://probation-integration-epf-api:4010
  hmpps-auth:
    base-url: http://hmpps-auth:8080

authorisation:
  consumers:
    automated-test-client:
      - "/v1/persons"
      - "/v1/persons/.*"
      - "/v1/persons/.*/images"
      - "/v1/images/.*"
      - "/v1/persons/.*/addresses"
      - "/v1/persons/.*/offences"
      - "/v1/persons/.*/alerts"
      - "/v1/persons/.*/sentences"
      - "/v1/persons/.*/sentences/latest-key-dates-and-adjustments"
      - "/v1/persons/.*/risks/scores"
      - "/v1/persons/.*/needs"
      - "/v1/persons/.*/risks"
      - "/v1/epf/person-details/.*/.*"
      - "/health"
      - "/health/ping"
      - "/health/readiness"
      - "/health/liveness"
      - "/info"

hmpps.sqs:
  provider: localstack
  localstackUrl: http://local-stack-aws:4566
  queues:
    audit:
      queueName: "audit"
