server:
  shutdown: immediate

management.endpoint:
  health.cache.time-to-live: 0
  info.cache.time-to-live: 0

services:
  prison-api:
    base-url: http://localhost:4000
  hmpps-auth:
    base-url: http://localhost:3000
    username: client
    password: client-secret
  prisoner-offender-search:
    base-url: http://localhost:4001
  probation-offender-search:
    base-url: http://localhost:4002
  ndelius:
    base-url: http://localhost:4003
  assess-risks-and-needs:
    base-url: http://localhost:4004
  probation-integration-epf:
    base-url: http://localhost:4005

authorisation:
  consumers:
    automated-test-client:
      - "/v1/persons"
      - "/v1/persons/.*"
      - "/v1/persons/.*/images"
      - "/v1/images/.*"
      - "/v1/persons/.*/addresses"
      - "/v1/persons/.*/offences"
      - "/v1/persons/.*/alerts"
      - "/v1/persons/.*/sentences"
      - "/v1/persons/.*/sentences/latest-key-dates-and-adjustments"
      - "/v1/persons/.*/risks/scores"
      - "/v1/persons/.*/needs"
      - "/v1/persons/.*/risks"
      - "/v1/epf/person-details/.*/.*"
      - "/health"
      - "/health/ping"
      - "/health/readiness"
      - "/health/liveness"
      - "/info"
