services:
  prisoner-offender-search:
    base-url: https://prisoner-offender-search-dev.prison.service.justice.gov.uk
    hmpps-auth:
      username: ${CLIENT_ID}
      password: ${CLIENT_SECRET}
  prison-api:
    base-url: http://localhost:8081
    # Each application will likely have it's own credentials for its authentication method
    # These are test values
    hmpps-auth:
      username: ZGVsaXVzCg==  # delius encoded in Base64
      password: Y2xpZW50c2VjcmV0Cg==  # clientsecret encoded in Base64
  hmpps-auth:
    base-url: http://localhost:9090

