version: 2.1

orbs:
  hmpps: ministryofjustice/hmpps@6

parameters:
  alerts-slack-channel:
    type: string
    default: hmpps-integration-api
  releases-slack-channel:
    type: string
    default: hmpps-integration-api

jobs:
  lint-code:
    executor:
      name: hmpps/java
      tag: "19.0"
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle.kts" }}
            - gradle-
      - run:
          name: Lint code
          command: make lint
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}
  unit-tests:
    executor:
      name: hmpps/java
      tag: "19.0"
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle.kts" }}
            - gradle-
      - run:
          name: Run unit tests
          command: make unit-test
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}
      - store_test_results:
          path: build/test-results
  smoke-tests:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Run smoke tests
          command: make smoke-test
  create-and-push-image-to-ecr:
    docker:
      - image: ministryofjustice/cloud-platform-tools
    resource_class: xlarge
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build application Docker image
          command: |
            make build
      - hmpps/create_app_version
      - deploy:
          name: Push application Docker image
          command: |
            make publish

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - lint-code
      - unit-tests
      - smoke-tests
      - hmpps/helm_lint:
          name: lint-helm-charts
          env: development
      - create-and-push-image-to-ecr:
          name: create-and-push-image-to-development-ecr
          context: hmpps-integration-api-development
          requires:
            - lint-code
            - unit-tests
            - smoke-tests
            - lint-helm-charts
          filters:
            branches:
              only:
                - main
      - hmpps/deploy_env:
          name: deploy-to-development
          context:
            - hmpps-integration-api-development
            - hmpps-common-vars
          requires:
            - create-and-push-image-to-development-ecr
          filters:
            branches:
              only:
                - main
          env: "development"
          helm_timeout: 5m
          slack_channel_name: << pipeline.parameters.releases-slack-channel >>
          slack_notification: false

      - create-and-push-image-to-ecr:
          name: create-and-push-image-to-production-ecr
          context: hmpps-integration-api-production
          requires:
            - deploy-to-development
          filters:
            branches:
              only:
                - main
      - hmpps/deploy_env:
          name: deploy-to-production
          context:
            - hmpps-integration-api-production
            - hmpps-common-vars
          requires:
            - create-and-push-image-to-production-ecr
          filters:
            branches:
              only:
                - main
          env: "production"
          helm_timeout: 5m
          slack_channel_name: << pipeline.parameters.releases-slack-channel >>
          slack_notification: false
  security:
    triggers:
      - schedule:
          cron: "11 5 * * 1-5"
          filters:
            branches:
              only:
                - main
    jobs:
      - hmpps/gradle_owasp_dependency_check:
          context:
            - hmpps-common-vars
      - hmpps/veracode_pipeline_scan:
          context:
            - veracode-credentials
            - hmpps-common-vars
  security-weekly:
    triggers:
      - schedule:
          cron: "0 5 * * 1"
          filters:
            branches:
              only:
                - main
    jobs:
      - hmpps/veracode_policy_scan:
          context:
            - veracode-credentials
            - hmpps-common-vars
