---
# Per environment values which override defaults in hmpps-integration-api/values.yaml

generic-service:
  replicaCount: 2

  image:
    repository: 754256621582.dkr.ecr.eu-west-2.amazonaws.com/hmpps-integration-api-admin-team/hmpps-integration-api-development-ecr

  ingress:
    host: hmpps-integration-api-development.apps.live.cloud-platform.service.justice.gov.uk

  env:
    SPRING_PROFILES_ACTIVE: development
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json

  namespace_secrets:
    client-credentials:
      CLIENT_ID: "clientId"
      CLIENT_SECRET: "clientSecret"

  allowlist:
    office: "0.0.0.0/0"

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev
