---
# Per environment values which override defaults in hmpps-integration-api/values.yaml

generic-service:

  ingress:
    host: hmpps-integration-api-prod.apps.live.cloud-platform.service.justice.gov.uk
    annotations:
      nginx.ingress.kubernetes.io/auth-tls-secret: "hmpps-integration-api-prod/client-certificate-auth"

  poddisruptionbudget:
    enabled: false

  env:
    SPRING_PROFILES_ACTIVE: prod
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    SENTRY_ENVIRONMENT: prod

  namespace_secrets:
    hmpps-auth:
      CLIENT_ID: "client-id"
      CLIENT_SECRET: "client-secret"
    other-services:
      APPINSIGHTS_INSTRUMENTATIONKEY: "azure-app-insights"
      SENTRY_DSN: "sentry"

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps-integration-api-alerts
  sqsAlertsQueueNames:
    - "book-a-prison-visit-prod-hmpps_prison_visits_write_events_queue"
    - "book-a-prison-visit-prod-hmpps_prison_visits_write_events_dlq"
    - "locations-inside-prison-prod-update_from_external_system_events_queue"
    - "locations-inside-prison-prod-update_from_external_system_events_dlq"
    - "activities-and-appointments-prod-update_from_external_system_events_queue"
    - "activities-and-appointments-prod-update_from_external_system_events_dlq"
  sqsAlertsOldestThreshold: 1
  sqsAlertsTotalMessagesThreshold: 1
