name: Pipeline
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
    inputs:
      additional_docker_tag:
        description: Additional docker tag that can be used to specify stable or testing tags
        required: false
        default: ''
        type: string
      push:
        description: Push docker image to registry flag
        required: true
        default: false
        type: boolean
permissions:
  contents: read
  packages: write
jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml
    secrets: inherit
  build:
    name: Build docker image from hmpps-github-actions
    if: github.ref == 'refs/heads/main'
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2 # WORKFLOW_VERSION
    needs:
      - test
    with:
      docker_registry: 'ghcr.io'
      registry_org: 'ministryofjustice'
      additional_docker_tag: ${{ inputs.additional_docker_tag }}
      push: ${{ inputs.push || true }}
      docker_multiplatform: false
  deploy_dev:
    concurrency:
      # Only 1 job can deploy to dev at a time
      group: hmpps-external-api-dev
      cancel-in-progress: false
    name: Deploy to the development environment
    needs:
      - build
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'dev'
      app_version: '${{ needs.build.outputs.app_version }}'
      slack_notification: 'true' # if 'true', it needs a valid NONPROD_RELEASES_SLACK_CHANNEL variable to be set
  dev-smoke-tests:
    uses: ./.github/workflows/smoke-test-dev.yml
    secrets: inherit
    needs:
      - build
      - deploy_dev
  deploy_preprod:
    concurrency:
      # Only 1 job can deploy to preprod at a time
      group: hmpps-external-api-preprod
      cancel-in-progress: false
    name: Deploy to pre-production environment
    needs:
      - build
      - dev-smoke-tests
      - deploy_dev
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'preprod'
      app_version: '${{ needs.build.outputs.app_version }}'
      slack_notification: 'true' # if 'true', it needs a valid NONPROD_RELEASES_SLACK_CHANNEL variable to be set
  preprod-smoke-tests:
    uses: ./.github/workflows/smoke-test-preprod.yml
    secrets: inherit
    needs:
      - deploy_preprod
  deploy_prod:
    concurrency:
      # Only 1 job can deploy to prod at a time
      group: hmpps-external-api-prod
      cancel-in-progress: false
    name: Deploy to production environment
    needs:
      - build
      - preprod-smoke-tests
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'prod'
      app_version: '${{ needs.build.outputs.app_version }}'
      slack_notification: 'true' # if 'true', it needs a valid PROD_RELEASES_SLACK_CHANNEL variable to be set
  prod-smoke-tests:
    uses: ./.github/workflows/smoke-test-prod.yml
    secrets: inherit
    needs:
      - build
      - deploy_prod
