name: Smoke Test POC
on:
  push:
    branches:
      - 'HIA-1061_GHA_Smoke_test_POC'
jobs:
  dev-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup K6
        uses: grafana/setup-k6-action@v1
      - name: Run main Smoke Test script
        shell: bash
        env:
          PROFILE: MAIN
          HMPPSID: X688624
          DOMAIN: dev.integration-api.hmpps.service.justice.gov.uk
          CERT: "${{ secrets.DEV_SMOKE_TEST_FULL_ACCESS_CERT }}"
          PRIVATE_KEY: "${{ secrets.DEV_SMOKE_TEST_FULL_ACCESS_KEY }}"
          API_KEY: "${{ secrets.DEV_SMOKE_TEST_FULL_ACCESS_API_KEY }}"
        run: |
          k6 run --summary-mode=full --quiet ./scripts/K6/smoke-tests.js
      - name: Run no access test
        shell: bash
        env:
          PROFILE: NOPERMS
          HMPPSID: X688624
          DOMAIN: dev.integration-api.hmpps.service.justice.gov.uk
          CERT: "${{ secrets.DEV_SMOKE_TEST_NO_ACCESS_CERT }}"
          PRIVATE_KEY: "${{ secrets.DEV_SMOKE_NO_FULL_ACCESS_KEY }}"
          API_KEY: "${{ secrets.DEV_SMOKE_TEST_NO_ACCESS_API_KEY }}"
        run: |
          k6 run --summary-mode=full --quiet ./scripts/K6/smoke-tests.jspreprod-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup K6
        uses: grafana/setup-k6-action@v1
      - name: Run Smoke Test script
        shell: bash
        env:
          PROFILE: MINIMAL
          HMPPSID:
          DOMAIN: preprod.integration-api.hmpps.service.justice.gov.uk
          CERT: "${{ secrets.PREPROD_SMOKE_TEST_CERT }}"
          PRIVATE_KEY: "${{ secrets.PREPROD_SMOKE_TEST_KEY }}"
          API_KEY: "${{ secrets.PREPROD_SMOKE_TEST_API_KEY }}"
        run: |
          k6 run --summary-mode=full --quiet ./scripts/K6/smoke-tests.js
  prod-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup K6
        uses: grafana/setup-k6-action@v1
      - name: Run Smoke Test script
        shell: bash
        env:
          PROFILE: MINIMAL
          HMPPSID:
          DOMAIN: integration-api.hmpps.service.justice.gov.uk
          CERT: "${{ secrets.PROD_SMOKE_TEST_CERT }}"
          PRIVATE_KEY: "${{ secrets.PROD_SMOKE_TEST_KEY }}"
          API_KEY: "${{ secrets.PROD_SMOKE_TEST_API_KEY }}"
        run: |
          k6 run --summary-mode=full --quiet ./scripts/K6/smoke-tests.js
