name: Smoke Test POC
on:
  push:
    branches:
      - 'HIA-1061_GHA_Smoke_test_POC'
jobs:
  preprod-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup K6
        uses: grafana/setup-k6-action@v1
      - name: Show env vars
        shell: bash
        env:
          SMOKE_TEST_API_KEY: ${{ secrets.PREPROD_SMOKE_TEST_API_KEY }}
        run: echo "$PREPROD_SMOKE_TEST_API_KEY"
      - name: Run preprod smoke tests
        uses: grafana/run-k6-action@v1
        env:
          PROFILE: MINIMAL
          DOMAIN: preprod.integration-api.hmpps.service.justice.gov.uk
          SMOKE_TEST_API_KEY: ${{ secrets.PREPROD_SMOKE_TEST_API_KEY }}
        with:
          inspect-flags: '--env SMOKE_TEST_CERT=${{ secrets.PREPROD_SMOKE_TEST_CERT }} --env SMOKE_TEST_KEY=${{ secrets.PREPROD_SMOKE_TEST_KEY }}'
          flags: '--env SMOKE_TEST_CERT=${{ secrets.PREPROD_SMOKE_TEST_CERT }} --env SMOKE_TEST_KEY=${{ secrets.PREPROD_SMOKE_TEST_KEY }}'
          path: ./scripts/K6/smoke-tests.js
