name: Smoke Test POC
on:
  push:
    branches:
      - 'HIA-1061_GHA_Smoke_test_POC'
jobs:
  preprod-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: poc
        shell: bash
        env:
          PROFILE: MINIMAL
          DOMAIN: preprod.integration-api.hmpps.service.justice.gov.uk
          XYZ: "ABC ${{ secrets.PREPROD_SMOKE_TEST_API_KEY }}"
        run: |
          echo "Profile = $PROFILE"
          echo "API Key = $XYZ"
          echo "XXX ${{ secrets.PREPROD_SMOKE_TEST_API_KEY }}"
