name: Smoke Test POC
on:
  push:
    branches:
      - 'HIA-1061_GHA_Smoke_test_POC'
jobs:
  preprod-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup K6
        uses: grafana/setup-k6-action@v1
      - name: poc
        shell: bash
        env:
          PROFILE: MINIMAL
          DOMAIN: preprod.integration-api.hmpps.service.justice.gov.uk
          CERT: "${{ secrets.PREPROD_SMOKE_TEST_CERT }}"
          PRIVATE_KEY: "${{ secrets.PREPROD_SMOKE_TEST_KEY }}"
          API_KEY: "${{ secrets.PREPROD_SMOKE_TEST_API_KEY }}"
        run: |
          echo "Profile = $PROFILE"
          echo "API Key = $API_KEY"
          echo "Cert = $CERT"
          echo "Private key = $PRIVATE_KEY"
          k6 --version
#      - name: Run preprod smoke tests
#        uses: grafana/run-k6-action@v1
#        env:
#          PROFILE: MINIMAL
#          DOMAIN: preprod.integration-api.hmpps.service.justice.gov.uk
#          CERT: "${{ secrets.PREPROD_SMOKE_TEST_CERT }}"
#          PRIVATE_KEY: "${{ secrets.PREPROD_SMOKE_TEST_KEY }}"
#          API_KEY: "${{ secrets.PREPROD_SMOKE_TEST_API_KEY }}"
#        with:
#          path: ./scripts/K6/smoke-tests.js
