name: Production Smoke Test
on:
  workflow_call:
jobs:
  prod-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup K6
        uses: grafana/setup-k6-action@v1
      - name: Run minimal Smoke Test script
        shell: bash
        env:
          PROFILE: MINIMAL
          HMPPSID:
          DOMAIN: integration-api.hmpps.service.justice.gov.uk
          CERT: "${{ secrets.PROD_SMOKE_TEST_CERT }}"
          PRIVATE_KEY: "${{ secrets.PROD_SMOKE_TEST_KEY }}"
          API_KEY: "${{ secrets.PROD_SMOKE_TEST_API_KEY }}"
        run: |
          k6 run --summary-mode=full --quiet ./scripts/K6/smoke-tests.js
      - name: Run no cert test
        shell: bash
        env:
          PROFILE: NOPERMS
          DOMAIN: integration-api.hmpps.service.justice.gov.uk
        run: |
          k6 run --summary-mode=full --quiet ./scripts/K6/smoke-tests.js
