name: Smoke Test POC
on:
  push:
    branches:
      - 'HIA-1061_GHA_Smoke_test_POC'
      - 'HIA-1063_revoked_cert_smoke_test'
      - 'HIA-1085_activities_smoke_test_broken'
      - 'HIA-1085_use_self_consistent_ids'
      - 'HIA-1085_re-enable_activities_test'
      - 'dev/SAA-3814-activities-scheduled-instances-endpoint-moved'
jobs:
  dev-smoke-tests:
    uses: ./.github/workflows/smoke-test-dev.yml
    secrets: inherit
  preprod-smoke-tests:
    uses: ./.github/workflows/smoke-test-preprod.yml
    secrets: inherit
  prod-smoke-tests:
    uses: ./.github/workflows/smoke-test-prod.yml
    secrets: inherit


